{% extends "base.html" %}
{% block content %}

<style>
    #certificate-container {
        display: flex;
        height: 80vh;
        width: 100%;
        justify-content: center;
        align-items: start;
    }
    #certificate-table {
        border: solid 1px black;
        width: 90%;
        margin-top: 10%;
    }
    #column-header {
        background: rgb(64, 143, 88);
        color: white;
    }
    tr {
        border: solid 1px black;
    }
    td {
        font-size: .8rem;
    }
    td button {
        background: rgb(176, 240, 98);
        border: solid 1px black;
        padding: .3% 5%;
    }
    #column-header td {
        border: solid 1px black;
    }
    #certificate {
        width: 25%;
    }
    .download-btn {
        color: black;
        text-decoration: none;
    }
    .download-btn:hover {
        color: black;
        text-decoration: none;
    }
</style>

<div id="certificate-container">
    <table id="certificate-table">
        <tr id="column-header">
            <td>Courses Enrolled</td>
            <td id="certificate">Certificate</td>
        </tr>
        {% for c in certificate_dict %}
        <tr>
            <td>{{c}}</td>
            <td><form action="{{url_for('school.certificate_download')}}" method="post"><button  type="submit" name="submit" class="download-btn" value="{{certificate_dict[c]['certificate_path']}}|{{c}}">download</button></form></td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}
