{% extends "base.html" %}
{% block content %}

<style>
    #certificate-container {
        display: flex;
        height: 80vh;
        width: 100%;
        justify-content: center;
        align-items: start;
    }
    #certificate-table {
        border: solid 1px black;
        width: 90%;
        margin-top: 10%;
    }
    #column-header {
        background: rgb(64, 143, 88);
        color: white;
    }
    tr {
        border: solid 1px black;
    }
    td {
        font-size: .7rem;
    }
    td a {
        background: rgb(176, 240, 98);
        border: solid 1px black;
        padding: .3% 5%;
    }
    #column-header td {
        border: solid 1px black;
    }
    #certificate {
        width: 25%;
    }
</style>

<div id="certificate-container">
    <table id="certificate-table">
        <tr id="column-header">
            <td>Courses Enrolled</td>
            <td id="certificate">Certificate</td>
        </tr>
        <tr>
            <td>Course 1 geirohgioh guiehrg oihgeg iohergoigh oierhgghwg irhgigwg</td>
            <td><a>download</a></td>
        </tr>
        <tr>
            <td>Course 1</td>
            <td><a>download</a></td>
        </tr>
    </table>
</div>


{% endblock %}
