{% extends "base.html" %}
{% block content %}

<style>

</style>

<div id="classroom-hero">
    <div id="title">
        <h1 style="text-align: center;">RECORDED SESSIONS</h1>
        <p style="color: white;text-align:center;">Revisions and Practice make an artist perfect. Therefore, welcome to your classroom! Take Notes, Draw at least more than 5 rough drawings/sketches every day. Keep showing your work</p>
    </div>
</div>
<div class="video-wrapper">
    <div class="video-wrapper-container">
        <h3 style="color:black;">Art Demonstrations</h3>
        {% for n in range(demo_count) %}
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/{{ all_demo_url_list[n] }}?si=2BVYS-0QHsxcX4f5"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
<!--            <div class="video">-->
<!--                <div class="content">-->
<!--                    <lite-youtube videoid="{{ all_demo_url_list[n] }}"-->
<!--                                  params="controls=1"></lite-youtube>-->
<!--                    <p><b>{{ title_list[n] }}{{ part_list[n] }}</b><br>{{ demo_caption_list[n] }}</p>-->
<!--                </div>-->
<!--            </div>-->
        {% endfor %}
    </div>
</div>
<hr/>

<div class="video-wrapper">
    <div class="video-wrapper-container">
        <h3 style="color:black;">Doubt Solving Sessions</h3>
        {% for n in range(qa_video_count) %}
            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/{{vid_id_list[n]}}?si=2BVYS-0QHsxcX4f5"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
<!--            <div class="video">-->

<!--                <div class="content">-->
<!--&lt;!&ndash;                    <lite-youtube videoid="{{ vid_id_list[n] }}"&ndash;&gt;-->
<!--&lt;!&ndash;                                  params="controls=1"></lite-youtube>&ndash;&gt;-->
<!--                        -->
<!--                    <p>{{ qa_caption_list[n] }}</p>-->
<!--                </div>-->
<!--            </div>-->
        {% endfor %}
    </div>
</div>

<hr/>

<div class="video-wrapper" style="background:#594100; padding: 2% 0%;">
    <div class="video-wrapper-container" >
        <h3 style="color:black;">Workshops</h3>
        <p style="color:white;opacity:0.5;">This section contains recorded sessions of all the workshops you get enrolled in.</p>
        {% if logged_in %}

        {% if video_count > 0 %}
            {% for n in range(video_count) %}

                    <iframe style="background:brown;" class="responsive-iframe" src="https://www.youtube.com/embed/{{ yt_vid_id_list[n] }}?si=2BVYS-0QHsxcX4f5&;"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>


<!--                    <div class="video">-->
<!--                        <div class="content">-->
<!--                            <lite-youtube videoid="{{ yt_vid_id_list[n] }}"-->

<!--                                      params="controls=1"></lite-youtube>-->
<!--                            <p>{{ vid_caption_list[n] }}</p>-->
<!--                        </div>-->
<!--                     </div>-->
                {% endfor %}
            {% endif %}
            {% if video_count == 0 %}
                <div class="">
                    <p style="color: white;">If you can't see any video in Workshops section it means you haven't enrolled in any workshop till now. Please check our current workshop and enroll if the registration is open..</p>
                    <a href="{{url_for('school.home')}}" class="btn btn-primary btn-block btn-large" role="button">OUR WORKSHOPS</a>
                </div>
            {% endif %}
        {% endif %}

        {% if not logged_in %}
            <div class="course-btn">
                <div class="text-button-center">
                    <p style="color: white;">Please Login to watch</p>
                    <div style="display: flex; justify-content: center;">
                        <a style="background:#FFC6C6;color:black;" href="{{url_for('account.login')}}" class="btn btn-primary btn-block btn-large button_medium button" role="button">LOG IN</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% if logged_in %}
    <div class="wrapper">
        <div class="width-80-container">
            <h3 style="width:100%;color:white;opacity:0.5;">Study Materials</h3>
            <div class="study-material-wrapper">
                <div class="category-list">
                    {% for n in ws_dict %}
                    <button style="width:100%;" onclick="showFiles('{{n}}')">{{ws_dict[n]['topic']}}</button>
                    {% endfor %}
                </div>
                <div class="category-content">
                    {% for w in ws_dict %}
                        <div class="file-item" id="{{ w }}">
                        {% for f in ws_dict[w]['files'] %}
                            <div class="file-item-inner">
                                <form method="post" action="{{ url_for('school.classroom') }}">
                                    <input type="hidden" name="file-name" value="{{f}}">
                                    <button type="submit" name="download-file" value="{{ ws_dict[w]['files'][f]['file_path'] }}">
                                        <img src="../static/images/pdf_icon.png"></button>
                                    <p>{{ f }}</p>
                                </form>
                            </div>
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<script src="../static/lite-yt-embed.js"></script>
<script src="../static/js/school.js"></script>

<script>
let text = "";
var ws_list = {{ ws_name_list | tojson }};

function showFiles(ws_name) {
    var list = ws_list.slice();
    var index = list.indexOf(ws_name);
    if (index > -1) {
        list.splice(index, 1);
    }
    for (const x of list) {
        document.getElementById(x).style.display = 'none';
    }
    document.getElementById(ws_name).style.display = 'flex';
}
</script>


{% endblock %}