{% extends "base.html" %}
{% block content %}

<div id="classroom-hero">
    <div id="title">
        <h1 style="text-align: center">RECORDED SESSIONS</h1>
        <p style="color: gray">Revisions and Practice make an artist perfect. Therefore, welcome to your classroom! Take Notes, Draw at least more than 5 rough drawings/sketches every day. Keep showing your work</p>
    </div>
</div>
<div id="video-wrapper4">
    <div id="video-wrapper-container4">
        <h3 style="color:#b38fc2;">Art Demonstrations</h3>
        {% for n in range(demo_count) %}
            <div class="video">
                <div class="content">
                    <lite-youtube videoid="{{ all_demo_url_list[n] }}"
                                  params="controls=1"></lite-youtube>
                    <p><b>{{ title_list[n] }}{{ part_list[n] }}</b><br>{{ demo_caption_list[n] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<hr/>

<div id="video-wrapper2">
    <div id="video-wrapper-container2">
        <h3 style="color:#b38fc2;">Doubt Solving Sessions</h3>
        {% for n in range(qa_video_count) %}
            <div class="video">
                <div class="content">
                    <lite-youtube videoid="{{ vid_id_list[n] }}"
                                  params="controls=1"></lite-youtube>
                    <p>{{ qa_caption_list[n] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<hr/>

<div id="video-wrapper">
    <div id="video-wrapper-container">
        <h3 style="color:#b38fc2;">Workshops</h3>
        {% if logged_in %}
            {% if video_count == 0 %}
                <div class="course-btn">
                    <p style="color: black;">To watch our Art workshop recorded videos on various creative topics you need to first join our workshops.</p>
                    <a href="{{url_for('school.home')}}" class="btn btn-primary btn-block btn-large" role="button">OUR WORKSHOPS</a>
                </div>
            {% endif %}
            {% if video_count > 0 %}
                {% for n in range(video_count) %}
                    <div class="video">
                        <div class="content">
                            <lite-youtube videoid="{{ yt_vid_id_list[n] }}"
                                      params="controls=1"></lite-youtube>
                            <p>{{ vid_caption_list[n] }}</p>
                        </div>
                     </div>
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if not logged_in %}
            <div class="course-btn">
                <div class="text-button-center">
                    <p style="color: black;">To watch our Art workshop recorded videos on various creative topics you need to first join our workshops.</p>
                    <div style="display: flex; justify-content: center;">
                        <a href="{{url_for('school.home')}}" class="btn btn-primary btn-block btn-large button_medium" role="button">OUR WORKSHOPS</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<script src="../static/lite-yt-embed.js"></script>

{% endblock %}