{% extends "base.html" %}
{% block content %}

<style>
#classroom-hero {
    width: 100%;
    height: 0%;
    background: #dbaaaa;
    color: white;
    opacity: 1;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
</style>

<div id="classroom-hero">
    <div class="title">
        <h1>CLASSROOM</h1>
        <p>Revisions and Practice make an artist perfect. Therefore, welcome to your classroom! Take Notes, Draw at least 5 rough drawings/sketches every day.</p>
    </div>
</div>
<div style="display:flex;justify-content:center;">
    <button id="quiz-btn" class="button quiz-btn" onclick="openQuiz()">Play Quiz</button>
</div>
<div class="quiz">
    <form id="quiz">
        <div class="quiz-close-reset-btn">
            <div>
                <a type="button"  class="button" onclick="reset()">RESET</a>
                <a style="background:#B12C28;" type="button" class="button" onclick="closeQuiz()">CLOSE</a>
            </div>
        </div>
        <h3>ART QUIZ</h3>
        <p>Let's see how much you know about Art</p>
        <div id="quiz-select-div">
            <div id="quiz-select-item-box">
                <select id="quiz-category" onchange="getCategory()">
                    <option value="default">Choose Category</option>
                    {% for c in category_list %}
                    <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                </select>
                <select id="no-question" onchange="openCustom()">
                    <option value="default">Select no. of Questions</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="custom">Custom</option>
                </select>
            </div>
                <label id="no-questions-label"></label>
                <input id="number-questions" type="number" placeholder="Type the number of questions">
                <a type="button" id="number-submit" onclick="closeCustomField()" class="button">Submit</a>
        </div>
        <div><a type="button" id="start-quiz" onclick="startQuiz()" class="button">Start Quiz</a></div>
        <p id="quiz-score-board"></p>
        <h2 id="final-score" style="width:100%;text-align:center;"></h2>
        <p id="logged-in-text" style="color:green;">Quiz result saved successfully!</p>
        <p id="not-logged-in-text"  style="color:red;">Quiz result not saved! Pl Login before playing to save results!</p>
        <div id="next-quiz-btn">
            <a type="button" id="next-quiz" class="button" onclick="reset()">NEXT QUIZ</a>
        </div>
        <label id="q" style="font-weight:600;"></label><br>
        <label id="oa"></label><br>
        <label id="ob"></label><br>
        <label id="oc"></label><br>
        <label id="od"></label><br>
        <label id="oe"></label><br>
        <div>
        <input id="quiz-btn1" class="button" onclick="checkAns('a')" type="button" name="a" value="a">
        <input id="quiz-btn2" class="button" onclick="checkAns('b')" type="button" name="b" value="b">
        <input id="quiz-btn3" class="button" onclick="checkAns('c')" type="button" name="c" value="c">
        <input id="quiz-btn4" class="button" onclick="checkAns('d')" type="button" name="d" value="d">
        <input id="quiz-btn5" class="button" onclick="checkAns('e')" type="button" name="e" value="e">
        </div>
        <p id="result" style="font-weight:600;"></p>
        <div><a type="button" id="next" onclick="next()" class="button" style="text-decoration:none;width:20%;text-align:center;padding:1%;color:white;">NEXT</a></div>
        <p id="test"></p>
        <p id="log-in-alert" style="color:red;">Please Login to save save quiz result.</p>
        <div><a class="button" id="log-in-btn" style="text-decoration:none;text-align:center;color:white;background:red;padding:0.5% 0%;" href="{{url_for('account.login')}}">Log In</a></div>
    </form>
</div>
<div class="video-wrapper">
    <div class="video-wrapper-container">
        <h3>ART DEMONSTRATIONS</h3>
        {% for n in range(demo_count) %}
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/{{ all_demo_url_list[n] }}?si=2BVYS-0QHsxcX4f5"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
<!--            <div class="video">-->
<!--                <div class="content">-->
<!--                    <lite-youtube videoid="{{ all_demo_url_list[n] }}"-->
<!--                                  params="controls=1"></lite-youtube>-->
<!--                    <p><b>{{ title_list[n] }}{{ part_list[n] }}</b><br>{{ demo_caption_list[n] }}</p>-->
<!--                </div>-->
<!--            </div>-->
        {% endfor %}
    </div>
</div>
<hr/>

<div class="video-wrapper">
    <div class="video-wrapper-container">
        <h3>DOUBT SOLVING SESSIONS</h3>
        {% for n in range(qa_video_count) %}
            <iframe class="responsive-iframe" src="https://www.youtube.com/embed/{{vid_id_list[n]}}?si=2BVYS-0QHsxcX4f5"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
<!--            <div class="video">-->

<!--                <div class="content">-->
<!--&lt;!&ndash;                    <lite-youtube videoid="{{ vid_id_list[n] }}"&ndash;&gt;-->
<!--&lt;!&ndash;                                  params="controls=1"></lite-youtube>&ndash;&gt;-->
<!--                        -->
<!--                    <p>{{ qa_caption_list[n] }}</p>-->
<!--                </div>-->
<!--            </div>-->
        {% endfor %}
    </div>
</div>

<hr/>

<div class="video-wrapper" style="background:#594100; padding: 2% 0%;">
    <div class="video-wrapper-container" >
        <h3 style="color:white;opacity:0.6;">WORKSHOPS</h3>
        <p style="color:white;opacity:0.5;">This section contains recorded sessions of all the workshops you get enrolled in.</p>
        {% if logged_in %}

        {% if video_count > 0 %}
            {% for n in range(video_count) %}

                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/{{ yt_vid_id_list[n] }}?si=2BVYS-0QHsxcX4f5&;"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>


<!--                    <div class="video">-->
<!--                        <div class="content">-->
<!--                            <lite-youtube videoid="{{ yt_vid_id_list[n] }}"-->

<!--                                      params="controls=1"></lite-youtube>-->
<!--                            <p>{{ vid_caption_list[n] }}</p>-->
<!--                        </div>-->
<!--                     </div>-->
                {% endfor %}
            {% endif %}
            {% if video_count == 0 %}
                <div class="">
                    <p style="color: white;">If you can't see any video in Workshops section it means you haven't enrolled in any workshop till now. Please check our current workshop and enroll if the registration is open..</p>
                    <a href="{{url_for('school.home')}}" class="btn btn-primary btn-block btn-large" role="button">OUR WORKSHOPS</a>
                </div>
            {% endif %}
        {% endif %}

        {% if not logged_in %}
            <div class="course-btn">
                <div class="text-button-center">
                    <p style="color: white;">Please Login to watch</p>
                    <div style="display: flex; justify-content: center;">
                        <a style="background:#FFC6C6;color:black;" href="{{url_for('account.login')}}" class="btn btn-primary btn-block btn-large button_medium button" role="button">LOG IN</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% if logged_in %}
    <div class="wrapper">
        <div class="width-80-container">
            <h3 style="width:100%;color:white;opacity:0.5;">STUDY MATERIALS</h3>
            <div class="study-material-wrapper">
                <div class="category-list">
                    {% for n in ws_dict %}
                    <button style="width:100%;" onclick="showFiles('{{n}}')">{{ws_dict[n]['topic']}}</button>
                    {% endfor %}
                </div>
                <div class="category-content">
                    {% for w in ws_dict %}
                        <h5 class="title-workshop-study-materials" id="title-{{w}}">{{ ws_dict[w]['topic'] }} files</h5>
                        <div class="file-item" id="{{ w }}">
                        {% for f in ws_dict[w]['files'] %}
                            <div class="file-item-inner">
                                <form method="post" action="{{ url_for('school.classroom') }}">
                                    <input type="hidden" name="file-name" value="{{f}}">
                                    <button type="submit" name="download-file" value="{{ ws_dict[w]['files'][f]['file_path'] }}">
                                        <img src="../static/images/pdf_icon.png"></button>
                                    <p>{{ f }}</p>
                                </form>
                            </div>
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<script src="../static/lite-yt-embed.js"></script>
<script src="../static/js/school.js"></script>

<script>
let text = "";
var ws_list = {{ ws_name_list | tojson }};

function showFiles(ws_name) {
    var list = ws_list.slice();
    var index = list.indexOf(ws_name);
    if (index > -1) {
        list.splice(index, 1);
    }
    for (const x of list) {
        document.getElementById(x).style.display = 'none';
        document.getElementById('title-'+x).style.display = 'none';
    }
    document.getElementById(ws_name).style.display = 'flex';
    document.getElementById('title-'+ws_name).style.display = 'block';
}
var questions = {{ questions | tojson }};
var loggedIn = {{ current_user.is_authenticated | tojson }};
const role = {{ role | tojson }};
var categoryQuestionsKeyList = [];
var number = 0;
var noQuestions = null;
var optA = '';
var optB = '';
var optC = '';
var optD = '';
var optE = '';
var q = '';
var ans = '';
var answer = '';
var cat = '';
var subcat = '';
var level = '';
var t_played = '';
var qIndex = 0;
var qKeyStock = [];
var currentQId = null;
var correctQuestions = 0;

if (loggedIn) {
    document.getElementById('log-in-btn').style.display = 'none';
    document.getElementById('log-in-alert').style.display = 'none';
} else {
    document.getElementById('log-in-btn').style.display = 'block';
    document.getElementById('log-in-alert').style.display = 'block';
}
function disableAllOptionButtons() {
    document.getElementById('quiz-btn1').disabled = true;
    document.getElementById('quiz-btn2').disabled = true;
    document.getElementById('quiz-btn3').disabled = true;
    document.getElementById('quiz-btn4').disabled = true;
    document.getElementById('quiz-btn5').disabled = true;
}
function enableAllOptionButtons() {
    document.getElementById('quiz-btn1').disabled = false;
    document.getElementById('quiz-btn2').disabled = false;
    document.getElementById('quiz-btn3').disabled = false;
    document.getElementById('quiz-btn4').disabled = false;
    document.getElementById('quiz-btn5').disabled = false;
}
function createCategoryQuestionsKeyList() {
    var questionsKeyLists = Object.keys(questions);
    for (const x of questionsKeyLists) {
        if (questions[x]['cat'] == cat) {
            categoryQuestionsKeyList.push(x);
        }
    }
}
function showStartQuizBtn() {
    if (number > 0) {
        document.getElementById('start-quiz').style.display = 'block';
    } else {
        document.getElementById('start-quiz').style.display = 'none';
    }
}

function init() {
    createCategoryQuestionsKeyList();
    var shuffledKeys = shuffleKeys(categoryQuestionsKeyList);
    qKeyStock = shuffledKeys.slice(0, noQuestions);
    document.getElementById('no-questions-label').innerHTML = 'Total questions: '+qKeyStock.length;
    document.getElementById('no-questions-label').style.display = 'block';

}

function openQuiz() {
    document.getElementById('quiz').style.display = 'flex';
    document.getElementById('quiz-btn').style.display = 'none';
}
function closeQuiz() {
    qIndex = 0;
    number = 0;
    correctQuestions = 0;
    cat = '';
    categoryQuestionsKeyList = [];
    document.getElementById('quiz').style.display = 'none';
    document.getElementById('quiz-btn').style.display = 'block';
    document.getElementById('no-question').value = 'default';
    document.getElementById('no-questions-label').style.display = 'none';
    document.getElementById('number-questions').value = '';
    document.getElementById('number-questions').style.display = 'none';
    document.getElementById('number-submit').style.display = 'none';
    document.getElementById('start-quiz').style.display = 'block';
    document.getElementById('q').style.display = 'none';
    document.getElementById('oa').style.display = 'none';
    document.getElementById('ob').style.display = 'none';
    document.getElementById('oc').style.display = 'none';
    document.getElementById('od').style.display = 'none';
    document.getElementById('oe').style.display = 'none';
    document.getElementById('quiz-score-board').innerHTML = '';
    document.getElementById('final-score').style.display = 'none';
    document.getElementById('quiz-btn1').style.display = 'none';
    document.getElementById('quiz-btn2').style.display = 'none';
    document.getElementById('quiz-btn3').style.display = 'none';
    document.getElementById('quiz-btn4').style.display = 'none';
    document.getElementById('quiz-btn5').style.display = 'none';
    document.getElementById('start-quiz').style.display = 'none';
    document.getElementById('next').style.display = 'none';
    document.getElementById('quiz-category').value = 'default';
    document.getElementById('logged-in-text').style.display = 'none';
    document.getElementById('not-logged-in-text').style.display = 'none';
    document.getElementById('test').style.display = 'none';
    document.getElementById('result').style.display = 'none';
    document.getElementById('next-quiz-btn').style.display = 'none';
}
function reset() {
    qIndex = 0;
    number = 0;
    correctQuestions = 0;
    cat = '';
    categoryQuestionsKeyList = [];
    document.getElementById('no-question').value = 'default';
    document.getElementById('no-question').style.display = 'block';
    document.getElementById('no-questions-label').style.display = 'none';
    document.getElementById('number-questions').value = '';
    document.getElementById('number-questions').style.display = 'none';
    document.getElementById('number-submit').style.display = 'none';
    document.getElementById('start-quiz').style.display = 'block';
    document.getElementById('q').style.display = 'none';
    document.getElementById('oa').style.display = 'none';
    document.getElementById('ob').style.display = 'none';
    document.getElementById('oc').style.display = 'none';
    document.getElementById('od').style.display = 'none';
    document.getElementById('oe').style.display = 'none';
    document.getElementById('quiz-score-board').innerHTML = '';
    document.getElementById('final-score').style.display = 'none';
    document.getElementById('quiz-btn1').style.display = 'none';
    document.getElementById('quiz-btn2').style.display = 'none';
    document.getElementById('quiz-btn3').style.display = 'none';
    document.getElementById('quiz-btn4').style.display = 'none';
    document.getElementById('quiz-btn5').style.display = 'none';
    document.getElementById('start-quiz').style.display = 'none';
    document.getElementById('next').style.display = 'none';
    document.getElementById('quiz-category').value = 'default';
    document.getElementById('logged-in-text').style.display = 'none';
    document.getElementById('not-logged-in-text').style.display = 'none';
    document.getElementById('test').style.display = 'none';
    document.getElementById('result').style.display = 'none';
    document.getElementById('next-quiz-btn').style.display = 'none';
}
function openCustom() {
    if (document.getElementById('no-question').value == 'custom') {
        document.getElementById('number-questions').style.display = 'block';
        document.getElementById('number-submit').style.display = 'block';
    } else {
        document.getElementById('number-questions').style.display = 'none';
        document.getElementById('number-submit').style.display = 'none';
    }
}
function closeCustomField() {
    document.getElementById('number-questions').style.display = 'none';
    document.getElementById('number-submit').style.display = 'none';
    if (number !== 0) {
        showStartQuizBtn();
    } else {
        alert("Please select number of questions to play");
    }
    if (document.getElementById('number-questions').value == '') {
        noQuestions = null;
        qKeyStock = [];
    }
    document.getElementById('number-questions').value = '';
}
const inputNumberQuestions = document.getElementById('number-questions');
const inputNumberQuestionsOption = document.getElementById('no-question');
const category = document.getElementById('quiz-category');

category.addEventListener('change', function(event) {
    if (event.target.value !== 'default') {
        cat = event.target.value;
    } else {
        cat = '';
    }
})
inputNumberQuestions.addEventListener('input', function(event) {
    number = 0;
    number = event.target.value;
    noQuestions = event.target.value;
});
inputNumberQuestionsOption.addEventListener('change', function(event) {
    if (event.target.value !== 'custom') {
        number = event.target.value;
        if (event.target.value !== 'default') {
            noQuestions = event.target.value;
            showStartQuizBtn();
        } else {
        number = 0;
        noQuestions = null;
        qKeyStock = [];
        showStartQuizBtn();

        }
    } else {
        number = 0;
        showStartQuizBtn();
    }
})

function shuffleKeys(array) {
    for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
	}
	return array;
}

function startQuiz() {
    if (cat !== '') {
        if (number !== null) {
            init();
            next();
            document.getElementById('start-quiz').style.display = 'none';
            document.getElementById('next').style.display = 'block';
        } else {
            alert("Please select number of question first to start quiz!");
        }
    } else {
        alert("Please select category first!");
    }
}
function next() {
    enableAllOptionButtons();
    if (qIndex <= noQuestions-1) {
        currentQId = qKeyStock[qIndex];
        var currentQ = questions[currentQId]
        q = currentQ['q']
        oA = currentQ['oa']
        oB = currentQ['ob']
        oC = currentQ['oc']
        oD = currentQ['od']
        oE = currentQ['oe']
        ans = currentQ['ans']
        answer = currentQ['answer']
        cat = currentQ['cat']
        subcat = currentQ['subcat']
        level = currentQ['level']
        t_played = currentQ['t_played']
        t_correct = currentQ['t_correct']
        document.getElementById('q').innerHTML = qIndex+1+ '. ' + JSON.stringify(q).replaceAll('"', '');
        document.getElementById('oa').innerHTML = JSON.stringify(oA).replaceAll('"', '');
        document.getElementById('ob').innerHTML = JSON.stringify(oB).replaceAll('"', '');
        document.getElementById('oc').innerHTML = JSON.stringify(oC).replaceAll('"', '');
        document.getElementById('od').innerHTML = JSON.stringify(oD).replaceAll('"', '');
        document.getElementById('oe').innerHTML = JSON.stringify(oE).replaceAll('"', '');
        document.getElementById('q').style.display = 'block';
        document.getElementById('oa').style.display = 'block';
        document.getElementById('ob').style.display = 'block';
        document.getElementById('oc').style.display = 'block';
        document.getElementById('od').style.display = 'block';
        document.getElementById('oe').style.display = 'block';
        if (oC == '') {
            document.getElementById('quiz-btn1').style.display = 'block';
            document.getElementById('quiz-btn2').style.display = 'block';
            document.getElementById('quiz-btn3').style.display = 'none';
            document.getElementById('quiz-btn4').style.display = 'none';
            document.getElementById('quiz-btn5').style.display = 'none';
        } else if (oD == '') {
            document.getElementById('quiz-btn1').style.display = 'block';
            document.getElementById('quiz-btn2').style.display = 'block';
            document.getElementById('quiz-btn3').style.display = 'block';
            document.getElementById('quiz-btn4').style.display = 'none';
            document.getElementById('quiz-btn5').style.display = 'none';
        } else if (oE == '') {
            document.getElementById('quiz-btn1').style.display = 'block';
            document.getElementById('quiz-btn2').style.display = 'block';
            document.getElementById('quiz-btn3').style.display = 'block';
            document.getElementById('quiz-btn4').style.display = 'block';
            document.getElementById('quiz-btn5').style.display = 'none';
        } else {
            document.getElementById('quiz-btn1').style.display = 'block';
            document.getElementById('quiz-btn2').style.display = 'block';
            document.getElementById('quiz-btn3').style.display = 'block';
            document.getElementById('quiz-btn4').style.display = 'block';
            document.getElementById('quiz-btn5').style.display = 'block';
        }

        document.getElementById('result').style.display = 'none';
        qIndex += 1;
        document.getElementById('next').style.visibility = 'hidden';
    } else {
        document.getElementById('test').innerHTML = 'Quiz Finished';
        document.getElementById('test').style.display = 'block';
        document.getElementById('q').style.display = 'none';
        document.getElementById('oa').style.display = 'none';
        document.getElementById('ob').style.display = 'none';
        document.getElementById('oc').style.display = 'none';
        document.getElementById('od').style.display = 'none';
        document.getElementById('oe').style.display = 'none';
        document.getElementById('quiz-btn1').style.display = 'none';
        document.getElementById('quiz-btn2').style.display = 'none';
        document.getElementById('quiz-btn3').style.display = 'none';
        document.getElementById('quiz-btn4').style.display = 'none';
        document.getElementById('quiz-btn5').style.display = 'none';
        document.getElementById('no-question').style.display = 'none';
        document.getElementById('quiz-score-board').style.display = 'none';
        document.getElementById('result').style.display = 'none';
        document.getElementById('next').style.display = 'none';
        document.getElementById('final-score').innerHTML = 'FINAL SCORE: '+correctQuestions+'/'+qIndex;
        document.getElementById('final-score').style.display = 'block';
        document.getElementById('next').style.visibility = 'hidden';
        document.getElementById('next-quiz-btn').style.display = 'flex';
        if (loggedIn) {
            document.getElementById('logged-in-text').style.display = 'block';
        } else {
            document.getElementById('not-logged-in-text').style.display = 'block';
        }
        var memberQuizData = {
            category: cat,
            total_correct: correctQuestions,
            total: qIndex
        };
        fetch('http://127.0.0.1:5000/school/save-member-quiz-data', {
            method: 'POST',
            headers: {
                'content-Type': 'application/json',
            },
            body: JSON.stringify(memberQuizData),
        })
        .then(response => response.json())
    }
}
function checkAns(option) {
    disableAllOptionButtons();
    var ansOption = option;
    document.getElementById('next').style.visibility = 'visible';
    if (ansOption == ans ) {
        document.getElementById('result').innerHTML = '<span style="color:green";>Correct!</span>';
        document.getElementById('result').style.display = 'block';
        correctQuestions += 1;
        document.getElementById('quiz-score-board').innerHTML = 'Score: '+correctQuestions+'/'+qIndex;
        document.getElementById('quiz-score-board').style.display = 'block';
        var data = {
            current_q_id: currentQId,
            correct: 1
        };
        if (role != 'admin') {
            fetch('https://writart.com/school/save-quiz-data', {
                method: 'POST',
                headers: {
                    'content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
        }
    } else {
        document.getElementById('quiz-score-board').innerHTML = 'Score: '+correctQuestions+'/'+qIndex;
        document.getElementById('result').innerHTML = '<span style="color:red;">Wrong! | Correct Answer : '+'"'+answer+'"</span>';
        document.getElementById('result').style.display = 'block';
        document.getElementById('quiz-score-board').style.display = 'block';
        var data = {
            current_q_id: currentQId,
            correct: 0
        };
        if (role != 'admin') {
            fetch('https://writart.com/school/save-quiz-data', {
                method: 'POST',
                headers: {
                    'content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
        }
    }
}

</script>


{% endblock %}