{% extends "base.html" %}
{% block content %}
<style>
    .light-canvas {
        background: rgb(209, 220, 200);
    }
    .dark-canvas {
        background: rgb(170, 180, 162);
    }
    .root-container {
        padding: 0% 10% 2% 10%;
        display: flex;
        flex-direction: column;
    }
    #lesson-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .option-list {
        width: 100%;
    }
   
    #lesson-iframe-box {
        display: none;
    }
    .figure-container {
        display:flex;
        flex-wrap:wrap;
        width:100%;
        justify-content: center;
    }
    .section-title {
        font-size: 1.2rem;
        font-weight: 900;
        padding-top: 2%;
    }
    .figure {
        margin: 1%;
        width: 50%;
    }
    .figure2 {
        margin: 1%;
        width: 20%;
    }
    .responsive-iframe {
        aspect-ratio: 16/9;
        width: 100%;
    }
    figcaption {
        color: black;
        font-weight: semibold;
        text-align: center;
        font-size: 1.3rem;
    }
    .assignment-submission-form {
        width: 50%;
    }
    #assignment-format {
        font-size: 1rem;
        line-height: 1;
        padding: 0%;
        margin: .5%;
    }
    .wrapper {
        background: rgb(39, 48, 31);
    }
    .non_enrolment_msg {
        background: rgb(209, 46, 9); 
        color: white; 
        width: 100%; 
        display: flex; 
        justify-content: center; 
        text-align: center; 
        flex-direction: column; 
        align-items: center;
        padding: .5% 10%;
    }
    .non_enrolment_msg p {
        padding: 0%;
        margin: 0%;
    }
    
     #vid-btn {
        max-width: 23%;
        margin: .5% 1%;
        padding:.5% 1%;
        font-size: 1rem;
        background: rgb(50, 60, 26);
    }
    @media (max-width: 1200px) {
        .figure {
            width: 70%;
        }
        .figure2 {
            width: 30%;
        }
        figcaption {
            font-size: 1.1rem;
            line-height: 1.2;
        }
        #assignment-format {
            font-size: .8rem;
        }
    }
    @media (max-width: 900px) {
        .assignment-submission-form input {
            padding: 0%;
        }
        
        #vid-btn {
            min-width: 30%;
            font-size: .9rem;
        }
        .figure {
            margin: 1%;
            width: 70%;
        }
        .figure2 {
            width: 45%;
        }
        .root-container {
            padding: 0% 10% 4% 10%;
        }
    }
    @media (max-width: 600px) {
        .figure {
            width: 100%;
        }
        .figure2 {
            width: 90%;
        }
        figcaption {
            font-size: .9rem;
            
        }
        .assignment-submission-form {
            width: 80%;
        }
        .assignment-submission-form input {
            padding: 0%;
        }
        #assignment-format {
            font-size: .7rem;
        }
        #vid-btn {
            min-width: 45%;
            font-size: .8rem;
        }
        .root-container {
            padding: 0% 10% 5% 10%;
        }
    }
</style>
<div class="light-canvas">
    <div class="root-container">
        <p class="section-title">RECORDED LESSONS</p>
        {% if enrolment_alert == 'on' %}
        <div class="non_enrolment_msg" style="padding: 2% 0%;">
            <p>The last month is complete.<br>Please get enrolled in the new month of the course to view new contents without any disturbance. <a href="{{url_for('school.enroll')}}" style="color: white; font-weight: bold; text-decoration: underline;">Click here to enroll</a></p>
        </div>
        {% endif %}
        {% if pending_count > 0 or if %}
        <div class="non_enrolment_msg">
            <p>{{non_enrolment_msg}}<a href="{{url_for('school.enroll')}}" style="color: white; font-weight: bold; text-decoration: underline;">Click here to enroll</a></p>
        </div>
        {% endif %}
        <div id="lesson-container">
            <select class="option-list" id="lesson-list" onchange="showVideo()">
                <option value="">Select Lesson to watch</option>
                {% for n in range(video_count) %}
                <option value="{{n}}">{{vid_caption_list[n]}}</option>
                {% endfor %}
            </select>
            <div class="figure-container">
            {% if video_count > 0 %}
                {% for n in range(video_count) %}
                <figure class="figure" id="lesson-iframe-box">
                    <iframe class="responsive-iframe" id="lesson-iframe" src=""
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                    encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
                    <figcaption id="lesson-caption">{{vid_caption_list[n]}}</figcaption>
                </figure>
    <!--                    <div class="video">-->
    <!--                        <div class="content">-->
    <!--                            <lite-youtube videoid="{{ vid_id_list[n] }}"-->

    <!--                                      params="controls=1"></lite-youtube>-->
    <!--                            <p>{{ vid_caption_list[n] }}</p>-->
    <!--                        </div>-->
    <!--                     </div>-->
                {% endfor %}
            {% else %}
                <p style="color: rgb(18, 59, 20);">No classes recordings yet! The Video will be uploaded after the commencement of the classes</p>
            {% endif %}
            
            </div>
        </div>
    </div>
</div>
<div class="dark-canvas">
    <div class="root-container">
        <p class="section-title">NOTES</p>
        <div id="lesson-container">
            <select class="option-list" id="notes-list" onchange="downloadNotes()">
                <option value="">Select Notes to download</option>
                {% for m in study_material_dict %}
                <option value="{{study_material_dict[m]['file_path']}}">{{study_material_dict[m]['file_name']}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="dark-canvas">
    <div class="root-container">
        <p class="section-title">ASSIGNMENTS</p>
        <div id="lesson-container">
            <select class="option-list" id="assignment-list" onchange="downloadAssignment()">
                <option value="">Select Assignment to download</option>
                {% for m in assignments_dict %}
                <option value="{{assignments_dict[m]['file_path']}}">{{assignments_dict[m]['file_name']}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- {% if study_material_count > 0 %}
<div class="wrapper">
    <div class="width-80-container">
        <h3 style="width:100%;color:rgb(255, 255, 255);opacity:1;">NOTES</h3>
        <p>{{non_enrolment_msg_submissions}}</p>
        <div class="category-content">
            {% for m in study_material_dict %}
                <div class="file-item-inner">
                    <form method="post" action="{{ url_for('school.classroom') }}">
                        <input type="hidden" name="file-name" value="{{m}}">
                        <button type="submit" name="download-file" value="{{ study_material_dict[m]['file_path'] }}">
                            <img src="../static/images/pdf_icon.png"></button>
                        <p>{{ study_material_dict[m]['file_name'] }}</p>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if assignments_count > 0 %}
<div class="wrapper">
    <div class="width-80-container">
        <h3 style="width:100%;color:rgb(255, 255, 255);opacity:1;">ASSIGNMENTS</h3>
        <div class="category-content">
            {% for m in assignments_dict %}
                <div class="file-item-inner">
                    <form method="post" action="{{ url_for('school.classroom') }}">
                        <input type="hidden" name="file-name" value="{{m}}">
                        <button type="submit" name="download-assignment" value="{{ assignments_dict[m]['file_path'] }}">
                            <img src="../static/images/pdf_icon.png"></button>
                        <p class="file-name">{{ assignments_dict[m]['file_name'] }}</p>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %} -->
<div class="wrapper" id="submit-assignments" style="background: rgb(192, 192, 192);">
    <div class="width-80-container assignment-submission-form">
        <h3 style="width:100%;color:rgb(0, 0, 0);opacity:1; text-align: center;">SUBMIT ASSIGNMENTS</h3>
        <form action="{{url_for('school.course')}}" method="post" enctype="multipart/form-data" style="width:100%;">
            <p id="assignment-format">Only JPG, JPEG and PNG files are allowed</p>
            <input type="file" name="assignments" accept=".jpg, .jpeg, .png" multiple required>
            <button type="submit" name="submit" value="submit_assignments" class="btn btn-primary btn-block btn-large">Submit</button>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <p class="{{category}}">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
        <!-- <div class="non_enrolment_msg" style="padding: 2% 0%;"> -->
            <!-- <p>{{non_enrolment_msg_submissions}}<br> <a href="{{url_for('school.enroll')}}" style="color: white; font-weight: bold; text-decoration: underline;">Click here to enroll</a></p> -->
        <!-- </div> -->
    </div>
</div>
<div class="video-wrapper" style="padding: 2% 0%; align-items:start; background: rgb(192, 192, 192);">
    <div class="video-wrapper-container" >
        <h3 style="color:rgb(0, 0, 0);">ASSIGNMENT ASSESSMENT</h3>
        <hr>
        <div class="figure-container">
        {% if assessment_video_count > 0 %}
            {% for v in assessment_vid_dict %}
            <figure class="figure2">
<!--                <iframe class="responsive-iframe" style="display:flex; width:25%; border:none;" src="https://www.youtube.com/embed/{{ vid_id_list[n] }}?si=2BVYS-0QHsxcX4f5&;"-->
<!--                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;-->
<!--                encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"-->
<!--                allowfullscreen></iframe>-->
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/{{ assessment_vid_dict[v]['vid_id'] }}?si=2BVYS-0QHsxcX4f5&;"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
                <figcaption style="color: rgb(0, 0, 0);">{{ v }}</figcaption>
            </figure>
<!--                    <div class="video">-->
<!--                        <div class="content">-->
<!--                            <lite-youtube videoid="{{ vid_id_list[n] }}"-->

<!--                                      params="controls=1"></lite-youtube>-->
<!--                            <p>{{ vid_caption_list[n] }}</p>-->
<!--                        </div>-->
<!--                     </div>-->
            {% endfor %}
        {% endif %}
        </div>
        {% if assessment_video_count == 0 %}
            <p style="color: white;">Sorry, No Assignment assessment recordings yet!</p>
        {% endif %}
    </div>
</div>
<div class="video-wrapper" style="padding: 2% 0%; align-items:start; background: rgb(192, 192, 192);">
    <div class="video-wrapper-container" >
        <h3 style="color:rgb(0, 0, 0);">DEMO VIDEOS</h3>
        <hr>
        <div class="figure-container">
        {% if demo_video_count > 0 %}
            {% for v in demo_vid_dict %}
            <figure class="figure2">
<!--                <iframe class="responsive-iframe" style="display:flex; width:25%; border:none;" src="https://www.youtube.com/embed/{{ vid_id_list[n] }}?si=2BVYS-0QHsxcX4f5&;"-->
<!--                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;-->
<!--                encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"-->
<!--                allowfullscreen></iframe>-->
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/{{ demo_vid_dict[v]['vid_id'] }}?si=2BVYS-0QHsxcX4f5&;"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
                <figcaption style="color: rgb(0, 0, 0);">{{ v }}</figcaption>
            </figure>
<!--                    <div class="video">-->
<!--                        <div class="content">-->
<!--                            <lite-youtube videoid="{{ vid_id_list[n] }}"-->

<!--                                      params="controls=1"></lite-youtube>-->
<!--                            <p>{{ vid_caption_list[n] }}</p>-->
<!--                        </div>-->
<!--                     </div>-->
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
<!------------------------------------------------------- TEACHER'S FEEDBACK -------------------------------------------------->


<!-- <div class="wrapper"> -->
   <!-- <div class="feedback-container"> -->
       <!-- <h3 style="width:100%;color:white;opacity:0.5;">TEACHER'S FEEDBACK AND CRITIQUE</h3> -->

       <!-- <div class="feedback_inner"> -->
           <!-- <div class="ws-feedback">
               <h3> WORKSHOP-WISE FEEDBACKS</h3>
               <p style="background:rgba(0,0,0,0.25);padding:2%;"> Feedback credits can be used to upload artworks and get feedback and guidance by the teacher.
                   <span id="read-more-ws-btn" onclick="readMoreWs()" style="color:blue;cursor:pointer;"> Read more</span>
                   <span id="know-more-ws-feedback"> One credit for one artwork submission. You'll get access to a video of the feedback.
                    In this section you see all the feedback credits related to workshops. When you enroll to a workshop you get 5 free feedback credits.
                       <span onclick="" style="color:green;"> Watch explaination video.</span></span>
                   <span id="read-less-ws-btn" onclick="readLessWs()" style="color:blue;cursor:pointer;">Read less</span></p>
               <p>All workshops feedback credits: <span>{{ total_ws_credits }}</span></p>
                {% if no_ws_credit_dict > 0 %}
               <form style="width:100%;" action="{{ url_for('school.classroom') }}" id="ws-feedback-form" method="post" enctype="multipart/form-data">
                    <select onchange="wsFunc()" name="workshop_id" id="workshop-id" style="margin-bottom:1%;" required>
                        <option value="default">Choose a Workshop</option>
                        {% for w in ws_credit_dict %}
                        <option id="ws-option" value="{{w}}">{{ws_credit_dict[w]['title']}}</option>
                        {% endfor %}
                    </select>
                    <p id="workshop-error" style="color:red;">Please choose the workshop first!</p>
                   <label id="credit-expiry-label"></label>
                   <input class="default-input" type="file" name="ws-feedback-files" id="ws-feedback-files" multiple required>
                   <input type="submit" class="button" style="width:100%;" value="Submit Artworks" name="submit-ws-feedback">
               {% else %}
                   <div style="padding-bottom:2%;color:red;text-align:center;"> You don't have any Workshop feedback credit left. <br>Please Purchase new credits below</div>
               {% endif %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                       {% if messages %}
                           {% for category, message in messages %}
                             <div style="background:#FFC6C6;width:100%; text-align:center;padding-bottom:2%;" class="{{category}}"><b>{{ message }}</b></div>
                           {% endfor %}
                       {% endif %}
                   {% endwith %}
               </form>

               <button class="button" style="color:white;background:#5f9141;" onclick="purchaseWsCredits()">Purchase Workshop Credits</button>
               <form class="purchase-credits" id="purchase-credits-ws">
                   <input class="default-input" style="width:100%;" type="number" name="credits">
                   <input style="width:100%;" class="button" type="submit" value="Pay ₹50" name="buy-credits">
               </form>
               <p id="test-js"></p>
           </div> -->
           <!-- <div class="topic-feedback"> -->

               <!-- <h3 style="padding-bottom:3%;">TEACHER'S FEEDBACK & CRITIQUE</h3> -->
               <!-- <p style="background:rgba(0,0,0,0.25);padding:2%;"> Feedback credits can be used to upload artworks and get feedback and guidance by the teacher.
                   <span id="read-more-topic-btn" onclick="readMoreTopic()" style="color:blue;cursor:pointer;"> Read more</span>
                   <span id="know-more-topic-feedback"> One credit for one artwork submission. You'll get access to a video of the feedback.
                   In this section you see all of your purchased feedbacks which can be used to get artwork feedback on any topic. Topic-wise feedbacks never expire.
                       <span onclick="" style="color:green;"> Watch explaination video.</span></span>
                   <span id="read-less-topic-btn" onclick="readLessTopic()" style="color:blue;cursor:pointer;">Read less</span></p>
               <p>Available Feedback credits: {{ topic_credits }}</p> -->
               <!-- <form style="width:100%;" action="{{ url_for('school.submit_feedback_files') }}" id="topic-feedback-form" method="post" enctype="multipart/form-data">
                   <select style="margin-bottom:1%;" name="topic" id="topic">
                       <option value="default">Choose a Topic (Optional)</option>
                       {% for topic in feedback_topic_list %}
                       <option value="{{topic}}">{{topic}}</option>
                       {% endfor %}
                   </select>
                   <p id="topic-error" style="color:red;">Please choose the topic first!</p>
                   <input class="default-input" type="file" name="topic-feedback-files" id="topic-feedback-files" multiple required>
                   <input type="submit" class="btn btn-primary btn-block btn-large" style="width:100%" value="Submit Artworks" name="submit-topic-feedback">
                   {% with messages = get_flashed_messages(with_categories=true) %}
                       {% if messages %}
                           {% for category, message in messages %}
                             <div style="background:#FFC6C6;width:100%; text-align:center;padding-bottom:2%;" class="{{category}}"><b>{{ message }}</b></div>
                           {% endfor %}
                       {% endif %}
                   {% endwith %}
               </form> -->
               <!-- <button class="button" style="color:white;background:#5f9141;" onclick="purchaseCredits()">Purchase Credits</button> -->
               <!-- <form class="purchase-credits" id="purchase-credits-topic">
                   <input class="default-input" style="width:100%;" type="number" name="credits">
                   <input style="width:100%;" class="button" type="submit" value="Pay ₹50" name="buy-credits">
               </form> -->
           </div>
       </div>
   </div>
</div>
<script src="../static/lite-yt-embed.js"></script>
<script src="../static/js/school.js"></script>

<script>
// ---------------------------------------- RECORDED LESSONS ------------------------------------------------
const lessonList = document.getElementById('lesson-list');
const lessonIframeBox = document.getElementById('lesson-iframe-box');
const lessonIframe = document.getElementById('lesson-iframe');
const lessonCaption = document.getElementById('lesson-caption');
const lessonVidIdList = {{ vid_id_list | tojson }};
const lessonCaptionList = {{ vid_caption_list | tojson }};
const endpointUrl = "{{ url_for('school.course') }}";
const courseTopic = {{ ws_topic | tojson }};

function showVideo() {
    const lessonListValue = lessonList.value;
    lessonIframe.src = "https://www.youtube.com/embed/"+lessonVidIdList[lessonListValue]+"?si=2BVYS-0QHsxcX4f5&;";
    lessonCaption.innerHTML = lessonCaptionList[lessonListValue];
    lessonIframeBox.style.display = "block";
}
// ---------------------------------------- DOWNLOAD NOTES --------------------------------------------------------
async function downloadNotes() {
    const notesList = document.getElementById('notes-list');
    const notesListValue = notesList.value;
    const fileName = notesList.options[notesList.selectedIndex].text;
    if (notesListValue != '') {
        const notesData = {
            category: "notes",
            notes_path: notesListValue
        };

        const response = await fetch(endpointUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(notesData)
        });
        if (!response.ok) throw new Error('Download Failed');
        
        // 1. Convert response to a blob stream instead of .json()
        const blob = await response.blob();

        // 2. Create a temporary local URL for the blob data
        const downloadUrl = window.URL.createObjectURL(blob);

        // 3. Inject a hidden <a> tag to click programmatically
        const link = document.createElement('a');
        link.href = downloadUrl;
        link.download = courseTopic+"_notes_"+fileName; // Set target file name here
        document.body.appendChild(link);

        link.click(); // Triggers real browser download popup

        // 4. Clean up memory
        document.body.removeChild(link);
        window.URL.revokeObjectURL(downloadUrl);

    };
}

// ----------------------------------------------- DOWNLOAD ASSIGNMENT --------------------------------------------------
async function downloadAssignment() {
    const assignmentList = document.getElementById('assignment-list');
    const assignmentListValue = assignmentList.value;
    const fileName = assignmentList.options[assignmentList.selectedIndex].text;
    if (assignmentListValue != '') {
        const assignmentData = {
            category: "assignment",
            assignment_path: assignmentListValue
        };

        const response = await fetch(endpointUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(assignmentData)
        });
        if (!response.ok) throw new Error('Download Failed');
        
        // 1. Convert response to a blob stream instead of .json()
        const blob = await response.blob();

        // 2. Create a temporary local URL for the blob data
        const downloadUrl = window.URL.createObjectURL(blob);

        // 3. Inject a hidden <a> tag to click programmatically
        const link = document.createElement('a');
        link.href = downloadUrl;
        link.download = courseTopic+"_assignment_"+fileName; // Set target file name here
        document.body.appendChild(link);

        link.click(); // Triggers real browser download popup

        // 4. Clean up memory
        document.body.removeChild(link);
        window.URL.revokeObjectURL(downloadUrl);

    };
}
// ------------------------------------------- ALERTS -----------------------------------------

// --------------------------------------------------------------------------------------------

let text = "";


// --------------------------------------------- TEACHER'S FEEDBACK SCRIPT -------------------------------------------------




const wsFeedbackForm = document.getElementById('ws-feedback-form');
const topicFeedbackForm = document.getElementById('topic-feedback-form');
var wsId = '';
var wsCreditDict = {{ ws_credit_dict | tojson }};
var totalWsCredits = {{ total_ws_credits | tojson }};
function wsFunc() {
    var creditExpiryLabel = document.getElementById('credit-expiry-label');
    wsId = document.getElementById('workshop-id').value;
    if ( wsId == 'default') {
        creditExpiryLabel.innerHTML = "";
        creditExpiryLabel.style.display = 'none';
    } else {
        creditExpiryLabel.innerHTML = "(Credits: " + wsCreditDict[wsId]['credits'] + " | Expiring on: " + wsCreditDict[wsId]['expiry'] + ")";
        creditExpiryLabel.style.display = 'block';
    }
}

wsFeedbackForm.addEventListener('submit', function(event) {
    if (document.getElementById('workshop-id').value == 'default') {
        event.preventDefault();
        document.getElementById('workshop-error').style.display = 'block';
    }
    var files = document.getElementById('ws-feedback-files').files;
    var numberOfFiles = files.length;
    var credits = wsCreditDict[wsId]['credits'];
    if (numberOfFiles > credits) {
        event.preventDefault();
        alert("You have only " + credits + " feedback credits left! Please don't upload more than " + credits + " files.");
    }
    totalWsCredits -= numberOfFiles;
});
topicFeedbackForm.addEventListener('submit', function(event) {
    if (document.getElementById('topic').value == 'default') {
        event.preventDefault();
        document.getElementById('topic-error').style.display = 'block';
    }
});
function purchaseWsCredits() {
    const purchaseDiv = document.getElementById('purchase-credits-ws');
    if (purchaseDiv.style.display == 'flex') {
        purchaseDiv.style.display = 'none';
        } else {
        purchaseDiv.style.display = 'flex';
    }
}
function purchaseCredits() {
    const purchaseDiv = document.getElementById('purchase-credits-topic');
    if (purchaseDiv.style.display == 'flex') {
        purchaseDiv.style.display = 'none';
        } else {
        purchaseDiv.style.display = 'flex';
    }
}
function readMoreWs() {
    var div = document.getElementById('know-more-ws-feedback');
    var readMore = document.getElementById('read-more-ws-btn');
    var readLess = document.getElementById('read-less-ws-btn');

    div.style.display = 'inline';
    readMore.style.display = 'none';
    readLess.style.display = 'inline';
}
function readLessWs() {
    var div = document.getElementById('know-more-ws-feedback');
    var readMore = document.getElementById('read-more-ws-btn');
    var readLess = document.getElementById('read-less-ws-btn');

    div.style.display = 'none';
    readMore.style.display = 'inline';
    readLess.style.display = 'none';
}
function readMoreTopic() {
    var div = document.getElementById('know-more-topic-feedback');
    var readMore = document.getElementById('read-more-topic-btn');
    var readLess = document.getElementById('read-less-topic-btn');

    div.style.display = 'inline';
    readMore.style.display = 'none';
    readLess.style.display = 'inline';
}
function readLessTopic() {
    var div = document.getElementById('know-more-topic-feedback');
    var readMore = document.getElementById('read-more-topic-btn');
    var readLess = document.getElementById('read-less-topic-btn');

    div.style.display = 'none';
    readMore.style.display = 'inline';
    readLess.style.display = 'none';
}
</script>

{% endblock %}