{% extends "base.html" %}
{% block content %}
<style>
.cover {
        width: 100%;
        background-image: url({{cover_path}});
        background-size: cover;
        background-repeat: no-repeat;
        aspect-ratio: 3 / 1;
        height: auto;
        top: 0px;
        bottom: 0px;
        left: 0px;
        color: white;
    }

</style>

<div class="master-container">
    <div class="row justify-content-center align-items-center" id="ws-content" style="padding: 0% 2%;">
        <div class="col-md-9 align-items-center" style="background-color: #FFDBDB; padding: 5%;">
            <div class="cover" style="padding-top: 2%;">
                <div class="ws_page_category">
                        <h6>{{category}}</h6>
                        <h6>SESSIONS- {{sessions}}</h6>
                </div>
                    <div class="ws_page_title">
                        <h1>{{topic}}</h1>
                        <h6 style="padding: 1% 0%;">{{brief}}</h6>
                    </div>
            </div>
            <div class="ws-main-schedule">
                <h5>Date: {{date}}</h5>
                <h5>Time: {{time}}</h5>
                <h5>Mode: Online (Google Meet)</h5>
            </div>
            <div class="ws-main-green">
                <p>(Recorded session video available to enrolled students)</p>
            </div>
            <div>
                <div class="ws-main-subheading">
                    <h5>Session Schedule</h5>
                </div>
                <div class="session_schedule">
                    <p>Session 1: {{date}} ({{time}})</p>
                    <p>Session 2: {{s2_date}} ({{s2_time}})</p>
                    <p>Session 3: {{s3_date}} ({{s3_time}})</p>
                    <p>Session 4: {{s4_date}} ({{s4_time}})</p>
                </div>
            </div>
            <div class="col">
                <div id="topics">
                        <div class="ws-main-subheading">
                            <h5>Topics we'll cover</h5>
                        </div>
                    <div class="wrapper-ws">
                        <div class="container-ws">
                            {% for item in sub_list %}
                            <div class="point">
                                <div class="ws-main-content">
                                    {{item}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="ws-main-subheading">
                    <h5>About the Session</h5>
                </div>
                <div class="description">
                    <p>{{description}}</p>
                </div>
                <div class="ws-main-subheading">
                    <h5>Requirements</h5>
                </div>
                <div class="wrapper-ws">
                    <div class="container-ws">
                        {% for item in req_list %}
                        <div class="point">
                            <div class="ws-main-content">
                                {{item}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ws-main-subheading">
                    <h5>Whom & How it'll help</h5>
                </div>
                <div class="wrapper-ws">
                    <div class="container-ws">
                        {% for item in result_list %}
                        <div class="point">
                            <div class="ws-main-content">
                                {{item}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="btn-set">
                    <div class="row btn-wrapper">
                        <div class="col button-container">
                            <a class="btn btn-primary btn-block btn-large button" href="https://wa.link/vfza06">ASK A QUESTION</a>
                        </div>
                        <div class="col button-container">
                            <a class="btn btn-primary btn-large btn-block button" type="button" onclick="openInterestedForm3('{{ws}}')">INTERESTED</a>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="{{category}}">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <div class="form-popup3 box-popup" id="interested-form3">
                                <form class="popup-form-container" action="{{url_for('school.home')}}" name="interested-form" method="post">
                                    <div style="display: flex; justify-content: right; width: 95%;">
                                        <a style="opacity: 0.5;" type="button" onclick="closeFormInterested3()">close <img src="../static/images/icons/cross-sign.png" width="10px"></a>
                                    </div>
                                    <h3 style="color: #c9c9c9;">INTERESTED</h3>
                                    <p>We'll notify you when enrollment of the selected workshop opens</p>
                                    {% if not logged_in %}
                                    <input type="text" placeholder="Name" name="name" required>
                                    <input type="email" placeholder="Email" name="email" required>
                                    <input type="text" placeholder="Phone" name="phone" required>
                                    <input type="text" placeholder="Whatsapp (skip if same whatsapp)" name="whatsapp">
                                    {% endif %}
                                    <input type="hidden" id="interested-form-hidden-workshop3" name="interested-form-hidden-workshop" required>
                                    <input type="text" maxlength="300" placeholder="Any message for us? (optional)" name="message">
                                    <input type="submit" name="submit" class="btn btn-primary" onclick="closeFormInterested3()" value="SUBMIT">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ws-main-subheading">
                    <h5>Our Vision</h5>
                </div>
                <div class="row">
                    <div class="col" style="text-align:center;">
                        <h3 class="ws-main-vision-quote"><i>" Education is our RIGHT! Not a luxury. "</i></h3>
                        <p class="ws-main-vision-description">Inspired from the beautiful ‘Guru Dakshina’  model of school, ours is an art school , Writart Gurukul where you can pay whatever you want and learn in depth practically applicable art skills which are used in the actual art production industry. <br><br>The trainer is a full time artist working on several Hollywood animation projects and global indie animation, film-making projects. More about the Trainer <a href="{{ url_for('school.instructor') }}">here.</a><br><br>
Your Guru Dakshina is used in purchasing website hosting, domain, google meet plan, books and other learning tools so that our this learning community keeps improving. More about Our Dakshina model <a href="{{ url_for('school.vision') }}">here.</a>
<br><br>
Let’s Learn together!
</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="instructor-artwork-slide-section">
    <p>INSTRUCTOR'S ARTWORKS</p>
    <div class="instructor-artwork-slide-container">
        <div class="instructor-artwork-slide">
            <img name="slide">
        </div>
    </div>
</div>
<!--<div>-->
<!--    <div class="row justify-content-center align-items-center" style="padding: 0% 2%;">-->
<!--        <div class="col-md-9 align-items-center" style="background-color: #edcce9; padding: 2%;">-->
<!--            <div class="col">-->
<!--                <div>-->
<!--                    <div class="row justify-content-center" style="text-align: center;">-->
<!--                        <div class="col heading">-->
<!--                            <h4><b>UPCOMING WORKSHOPS</b></h4>-->
<!--                            {% with messages = get_flashed_messages(with_categories=true) %}-->
<!--                                {% if messages %}-->
<!--                                    {% for category, message in messages %}-->
<!--                                        <div class="{{category}}">{{ message }}</div>-->
<!--                                    {% endfor %}-->
<!--                                {% endif %}-->
<!--                            {% endwith %}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="wrapper-ws">-->
<!--                        <div class="container-upcoming-ws">-->
<!--                            {% for workshop in upcoming_workshop_list %}-->
<!--                            <div class="upcoming_ws_thumbnail">-->
<!--                                <div class="upcoming_ws_content">-->
<!--                                    <img src="../static/images/workshops/{{workshop}}/thumbnail.jpg" width="100%" height="100%">-->
<!--                                    <div style="display: flex; justify-content: stretch;">-->
<!--                                       <div class="form-popup3 box" id="interested-form3">-->
<!--                                        <form class="popup-form-container" action="{{url_for('school.home')}}" name="interested-form" method="post">-->
<!--                                            <div style="display: flex; justify-content: right; width: 95%;">-->
<!--                                                <a style="opacity: 0.5;" type="button" onclick="closeFormInterested3()">close <img src="../static/images/icons/cross-sign.png" width="10px"></a>-->
<!--                                            </div>-->
<!--                                            <h3 style="color: #c9c9c9;">INTERESTED</h3>-->
<!--                                            <p>We'll notify you when enrollment of the selected workshop opens</p>-->
<!--                                            {% if not logged_in %}-->
<!--                                            <input type="text" placeholder="Name" name="name" required>-->
<!--                                            <input type="email" placeholder="Email" name="email" required>-->
<!--                                            <input type="text" placeholder="Phone" name="phone" required>-->
<!--                                            <input type="text" placeholder="Whatsapp (skip if same whatsapp)" name="whatsapp">-->
<!--                                            {% endif %}-->
<!--                                            <input type="hidden" id="interested-form-hidden-workshop3" name="interested-form-hidden-workshop3" required>-->
<!--                                            <input type="text" maxlength="300" placeholder="Any message for us? (optional)" name="message">-->
<!--                                            <input type="submit" name="submit" class="btn btn-primary" onclick="closeFormInterested3()" value="SUBMIT">-->
<!--                                        </form>-->
<!--                                     </div>-->
<!--                                        <button class="btn btn-primary btn-large" style="width: 50%;" onclick="openInterestedForm3('{{workshop}}')">INTERESTED</button>-->
<!--                                        <form action="{{url_for('school.upcoming_workshop')}}" method="post" style="width: 50%">-->
<!--                                             <input type="hidden" name="know-more" value="know-more">-->
<!--                                             <button class="btn btn-primary btn-large" type="submit" name="submit" value={{workshop}} style="width: 100%">KNOW MORE</button>-->
<!--                                        </form>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            {% endfor %}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script src="../static/js/school.js"></script>
<script>
var i = 0;
var time = 3000;
const images = {{artworks | tojson}};

function changeImg(){
    document.slide.src = images[i];

    if(i < images.length - 1){
        i++;
    } else {
        i = 0;
    }
    setTimeout("changeImg()", time);
}

window.onload = changeImg;
</script>
{% endblock %}
