{% extends "base.html" %}
{% block content %}

<style>
    #root-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 85vh;
        background: rgb(103, 106, 87);
    }
    #video-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0% 5%;
    }
    .root-title {
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(255, 255, 255);
        margin: 0%;
        background: rgb(59, 63, 33);
        width: 100%;
        text-align: center;
        padding: 1% 0% 1% 0%;
    }
    .section-heading {
        font-size: 1.2rem;
        font-weight: 400;
        color: rgb(225, 225, 225);
        margin: 0%;
        margin-top: 2%;
        text-transform: uppercase;
    }
    .figure-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1% 0%;
        background: rgb(161, 168, 134);
        border-radius: .5rem;
    }
    .figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0% 1%;
        height: 25vh;
        background: white;
        padding: .5%;
        border-radius: .3rem;
    }
    .shorts-figure {
        height: 70vh;
    }
    .responsive-iframe {
        width: 100%;
        height: 80%;
        border-radius: .3rem;
    }
    .shorts-iframe {
        aspect-ratio: 9/16;
    }
    .project-view-btn {
        font-size: .9rem;
        border: none;
        background: rgb(72, 81, 55);
        color: white;
        border-radius: .3rem;
        padding: .5% 0% .5% 0%;
        width: 100%;
        transition: all 0.15s ease-in-out;
    }
    .project-view-btn:hover {
        background: rgb(49, 56, 38);
    }
</style>

<div id="root-container">
    <p class="root-title">Ready Videos</p>
    <div id="video-container">
        {% if shorts_count > 0 %}
        <p class="section-heading">Shorts</p>
        <div class="figure-container">
            {% for v in all_video_ready_projects_shorts %}
            <figure class="figure shorts-figure">
                <iframe class="responsive-iframe shorts-iframe" src="https://www.youtube.com/embed/{{ v[2] }}?si=2BVYS-0QHsxcX4f5&;"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
                <figcaption style="color: rgb(0, 0, 0);">{{ v[1] }}</figcaption>
                <button class="project-view-btn" onclick="viewProject('{{ v[0] }}')">View Project</button>
            </figure>
            {% endfor %}
        </div>
        {% endif %}
        {% if longs_count > 0 %}
        <div class="figure-container">
            <p>Long Videos</p>
            {% for v in all_video_ready_projects_longs %}
            <figure class="figure">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/{{ v[2] }}?si=2BVYS-0QHsxcX4f5&;"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen" referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
                <figcaption style="color: rgb(0, 0, 0);">{{ v[1] }}</figcaption>
                <button class="project-view-btn" onclick="viewProject('{{ v[0] }}')">View Project</button>
            </figure>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<script>
    function viewProject(uuid) {
        url = "{{ url_for('youtube.home') }}";
        window.location.href = url + '?project_uuid=' + uuid;
    }
</script>

{% endblock %}