{% extends "base.html" %}
{% block content %}
<style>
    #root-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: rgb(170, 181, 132);
    }
    #form-container {
        width: 50%;
        background: rgb(234, 235, 201);
        padding: 2%;
        border-radius: 1rem;
    }
    input {
        border-radius: 1.5rem;
        color: black;
        border: none;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    }
    input::placeholder {
        color: rgb(105, 126, 56);
    }
    input:focus {
        box-shadow: none;
        border: 2px solid rgb(49, 55, 19);
    }
    .submit-btn {
        background: green;
        color: white;
        padding: 1% 2%;
        border: none;
        border-radius: 1.5rem;
        cursor: pointer;
        font-size: .9rem;
        width: 100%;
    }
    .submit-btn:hover {
        background: rgb(4, 92, 4);
    }

    @media (max-width: 768px) {
        #form-container {
            width: 80%;
            padding: 4%;
        }
        input {
            padding: 1% 2%;
        }
    }

    
</style>

<div id="root-container">
    <div id="form-container">
        <form id="youtube-login-form" action="{{url_for('youtube.login')}}" method="post">
            <p>Login to go to Youtube Studio</p>
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="password" placeholder="Password" required>
            <button type="submit" name="submit" value="login" class="submit-btn">Login</button>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="{{category}}">{{ message }}</div>
                  {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
</div>


{% endblock %}