{% extends "base.html" %}
{% block content %}
<style>
    h4, h3, h2, h5, h6 {
        line-height: 0 !important;
        margin: 0% !important;
        padding: 0% !important;
    }
    h4 {
        font-size: 1.4rem;
        font-weight: 600 !important;
        margin: 0% !important;
        padding: 0% !important;
    }
    h5 {
        font-size: 1.2rem;
        margin: 0% !important;
        padding: 0% !important;
    }
    p {
        font-size: 1rem;
        margin: 0% !important;
        padding: 0% !important;
    }
    #root-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        min-height: 90vh;
        background: rgb(170, 181, 132);
    }
    #main-section {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    #display {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0% 0% 2% 0%;
        margin: 1% 1% 2% 2%;
        background: rgb(227, 238, 205);
        border-radius: 1.5rem;
        overflow: hidden;
        min-height: 75vh;
    }
    #project-selection-section {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        margin: 1% 2% 2% 1%;
        background: rgb(210, 222, 180);
        border-radius: 1.5rem;
    }
    .channel-btn {
        width: 100%;
        background: rgb(127, 148, 56);
        border-radius: 1.5rem;
        border: none;
        margin: 2%;
        color: black;
        padding: 1%;
    }
    #project-selection-parent-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 5% 2% 0% 2%;
        background: rgb(253, 255, 224);
        height: 35vh;
        padding: 5% 10%;
        border-radius: 1.5rem;
        overflow-y: auto;
    }
    #operations-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 5% 2% 0% 2%;
        background: rgb(253, 255, 224);
        height: 35vh;
        padding: 5% 10%;
        border-radius: 1.5rem;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .selection-header {
        display: block;
        margin: 0%;
        font-weight: 600;
        color: black;
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }
    #project-selection-header {
        display: block;
    }
    #project-selection-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
 
    .project-btn {
        width: 100%;
        background: rgb(62, 79, 8);
        border-radius: 1.5rem;
        border: none;
        margin: 2%;
        color: white;
        padding: 1%;
    }
    .operation-btn {
        width: 100%;
        background: rgb(202, 102, 7);
        border-radius: 1.5rem;
        border: none;
        margin: 2%;
        color: white;
        padding: 1%;
    }
    .operation-btn:hover {
        background: rgb(150, 75, 5);
    }
    #display-inner-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0% 5%;
    }
    #temp_title {
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 500;
        color: white;
        background: rgb(94, 119, 11);
        font-size: 1.5rem;
    }
    .vid-detail-section-header {
        display: block;
        margin: 0%;
        font-weight: 600;
        color: black;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }
    .vid-detail-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 10vh;
        background: white;
        margin: .5% 0%;
        width: 100%;
        border-radius: 1.5rem;
        padding: 1.5% 1%;
        height: 30vh;
        overflow-y: auto;
    }
    #voice_recording_container {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
        width: 100%;
    }
    .voice_recording {
        display: block;
        margin: 1%;
    }
    /* ------------------------------------------ UPLOAD IMAGES -------------------------------------------------- */
    #upload-images-section {
        display: none;
        flex-direction: column;
        align-items: center;
        min-height: 20vh;
        width: 100%;
    }
    #upload-images-form {
        background: rgb(244, 244, 203);
        width: 60%;
        padding: 3% 10%;
        border-radius: 2rem;
    }
    #upload-images-header {
        width: 100%;
        text-align: center;
        font-weight: 600;
        margin: 0% 0% 2% 0% !important;
        font-size: 1.2rem;
    }
    #upload-images-form input {
        padding: .5% 1% 0.5% 1%;
        border-radius: 1.5rem;
        color: black;
    }
    #upload-images-form input::placeholder {
        color: rgb(111, 133, 79);
    }
    #upload-images-btn {
        width: 100%;
        background: rgb(168, 108, 12);
        border-radius: 1.5rem;
        border: none;
        color: white;
        padding: 1%;
    }
    #upload-images-btn:hover {
        background: rgb(132, 73, 6);
    }
    #go-back {
        background: rgb(81, 87, 59);
        border-radius: 1.5rem;
        border: none;
        color: white;
        padding: .5% 5%;
        margin: 1% 0% 0% 0%;
        transition: all 0.2s ease-in-out;
    }
    #go-back:hover {
        background: rgb(37, 40, 26);
    }
    /* --------------------------------------------------IMAGES DISPLAY---------------------------------------------------- */
    #images-container {
        display: flex;
        flex-direction: row !important;
        background: rgb(35, 43, 3) !important;
        flex-wrap: nowrap;
        overflow-x: auto;
        height: 30vh;
        margin-bottom: 0%;
    }
    .image {
        height: 100%;
        width: auto;
        margin: 0% .5%;
    }
    .section-action-button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 0%;
        padding-top:0.5%;
        padding-bottom: .5%;
        background: rgb(131, 138, 120);
        border-radius: 1.5rem;
        border: 2px solid rgb(37, 40, 26);
        margin-bottom: 2%;
    }
    .section-action-button {
        background: rgb(127, 55, 4);
        border-radius: 1.5rem;
        border: none;
        margin: 0%;
        color: white;
        padding: 0% 2%;
        text-decoration: none;
        border: 1px solid rgb(0, 0, 0);
    }
    .section-action-button:hover {
        background: rgb(90, 46, 7);
        text-decoration: none;
        color: white;
    }
    /* ------------------------------------------ MEDIA QUERIES -------------------------------------------------- */

    @media(max-width: 1200px) {
        #display {
            width: 70%;
            margin: 0% .5% 1% .5%
        }
        #project-selection-section {
            width: 30%;
            margin: 0% .5% 1% .5%
        }
        .vid-detail-section {
            padding: 3% 3%;
        }
        h4 {
            font-size: 1.1rem !important;
            font-weight: 600 !important;
            line-height: 0 !important;
            margin: 0% !important;
            padding: 0% !important;
        }
        h5 {
            font-size: 1rem !important;
            padding: 0% !important;
            margin: 0% !important;
        }
        p {
            font-size: .9rem !important;
            padding: 0% !important;
            margin: 0% !important;
        }
    }

    @media(max-width: 768px) {
        #display {
            width: 65%;
            margin: 0% .5% 1% .5%
        }
        #project-selection-section {
            width: 35%;
            margin: 0% .5% 1% .5%
        }
        #voice_recording_container {
            flex-direction: column;
        }
        .vid-detail-section {
            padding: 6% 4%;
        }
        h4 {
            font-size: .9rem !important;
            font-weight: 600 !important;
            line-height: 0 !important;
            margin: 0% !important;
            padding: 0% !important;
        }
        h5 {
            font-size: .8rem !important;
            padding: 0% !important;
            margin: 0% !important;
        }
        p {
            font-size: .7rem !important;
            padding: 0% !important;
            margin: 0% !important;
        }
        .voice_recording {
            width: 90%;
            height: 50%;
        }
        #temp_title {
            font-size: 1rem;
        }
        .vid-detail-section-header {
            font-size: .85rem;
        }
        .selection-header {
            font-size: .85rem;
        }
        .channel-btn{
            font-size: .8rem;
        }
        .project-btn {
            font-size: .7rem;
            border-radius: .5rem;
            padding: 5% 0%;
            line-height: 1;
        }
        #project-selection-parent-container {
            padding: 3% 3%;
        }
        #upload-images-form {
            width: 80%;
        }
        #upload-images-form input {
            font-size: .7rem;
        }
        #upload-images-btn {
            font-size: .8rem;
        }
    }
</style>

<div id="root-container">
    <div id="main-section">
        <div id="display">
            <p id="temp_title">{{ default_video_dict['temp_title'] }}</p>

            <div id="display-inner-container">
                <p class="vid-detail-section-header">Dialogue & narration</p>
                <div id="dialogue_narration" class="vid-detail-section">
                    {{ default_video_dict['dialogue_narration'] }}
                </div>

                <p class="vid-detail-section-header">Voice recording</p>
                <div id="voice_recording_container" class="vid-detail-section">
                    {% for audio in default_video_dict['voice_recordings'] %}
                    <audio id="voice_recording" class="voice_recording" src="{{ audio }}" controls volume="0.5" loop></audio>
                    {% endfor %}
                </div>
                <p class="vid-detail-section-header">Image/Video instruction</p>
                <div id="img_vid_instruction" class="vid-detail-section">
                    {{ default_video_dict['img_vid_instruction'] }}
                </div>


                <p class="vid-detail-section-header">Images</p>
                <div id="images-container" class="vid-detail-section">
                {% for img in default_video_dict['image_list'] %}
                    <img class="image" src="{{ img }}" alt="image">
                {% endfor %}
                </div>
                <div class="section-action-button-container">
                    <button class="section-action-button" id="image-feedback-btn" onclick="openImageFeedback({{ default_video_dict['video_uuid']}})">Feedbacks</button>
                </div>


                <p class="vid-detail-section-header">Thumbnail instruction</p>
                <div id="thumbnail_instruction" class="vid-detail-section">
                    {{ default_video_dict['thumbnail_instruction'] }}
                </div>

                <p class="vid-detail-section-header">Youtube card instruction</p>
                <div id="youtube_card_instruction" class="vid-detail-section">
                    {{ default_video_dict['youtube_card_instruction'] }}
                </div>
            </div>
        </div>
        <div id="project-selection-section">
            <p class="selection-header">Channels</p>
            {% for c in channels %}
            <button class="channel-btn" onclick="selectChannel('{{c[0]}}')">{{c[1]}}</button>
            {% endfor %}
            <div id="project-selection-parent-container">
                <p class="selection-header" id="project-selection-header">Projects</p>
                <div id="project-selection-container">
                    {% for v in default_video_dict['vid_uuid_name_list'] %}
                    <button class="project-btn" onclick="displayVideoDetails('{{v[0]}}')">{{ v[1] }}</button>
                    {% endfor %}
                </div>
            </div>
            <div id="operations-container">
                <p class="selection-header" id="operations-header">Operations</p>
                <button id="upload-img" class="operation-btn" onclick="uploadImages()">Upload images</button>
            </div>
        </div>
    </div>
    <div id="upload-images-section">
        <form id="upload-images-form">
            <p id="upload-images-header">Upload images</p>
            <input type="file" id="image-files" name="image-files" class="file-upload-input" accept=".jpg, .jpeg, .png, image/jpeg, image/png" multiple required>
            <input type="text" id="image-text" name="image-text" placeholder="Anything you want to say?">
            <input type="hidden" name="video_uuid" id="img-upload-video-uuid" value="{{ default_video_dict['video_uuid'] }}">
            <button type="submit" name="submit" value="upload_images" id="upload-images-btn" class="form-button">Upload images</button>
            <div id="status-message"></div>
        </form>
        <button id="go-back" onclick="goBack()">Go back</button>
    </div>
</div>

<script>
    const defaultVideoDict = {{ default_video_dict | tojson }};

    function initialLoad() {
        const dialogueNarration = document.getElementById('dialogue_narration');
        const imgVidInstruction = document.getElementById('img_vid_instruction');
        const thumbnailInstruction = document.getElementById('thumbnail_instruction');
        const youtubeCardInstruction = document.getElementById('youtube_card_instruction');
        dialogueNarration.innerHTML = defaultVideoDict['dialogue_narration'];
        imgVidInstruction.innerHTML = defaultVideoDict['img_vid_instruction'];
        thumbnailInstruction.innerHTML = defaultVideoDict['thumbnail_instruction'];
        youtubeCardInstruction.innerHTML = defaultVideoDict['youtube_card_instruction'];      
    }
    initialLoad();
    function selectChannel(channel_uuid) {
        const endpointUrl = "{{ url_for('youtube.home') }}";
        fetch(endpointUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'channel_uuid': channel_uuid,
                'type': 'select_channel'
            })
        }).then(response => response.json()).then(data => {
            const videoList = data.video_list;
            const projectSelectionHeader = document.getElementById('project-selection-header');
            document.getElementById('project-selection-container').replaceChildren();
            for (const vid of videoList) {
                const myButton = document.createElement('button');
                myButton.innerHTML = vid[1];
                myButton.classList.add('project-btn');
                myButton.onclick = () => displayVideoDetails(vid[0]);
                document.getElementById('project-selection-container').appendChild(myButton);
                document.getElementById('project-selection-header').style.display = 'block';
            }
            projectSelectionHeader.style.display = 'block';
        }).catch(error => {
            console.error('Error:', error);
        });
    }

    function displayVideoDetails(video_uuid) {
        const endpointUrl = "{{ url_for('youtube.home') }}";
        fetch(endpointUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'video_uuid': video_uuid,
                'type': 'select_video',
            })
        }).then(response => response.json()).then(data => {
            const vidDetailSection = document.querySelectorAll('.vid-detail-section');
            const vidDetailSectionHeader = document.querySelectorAll('.vid-detail-section-header');
            const voiceRecordingContainer = document.getElementById('voice_recording_container');
            const tempTitle = document.getElementById('temp_title');
            const dialogueNarration = document.getElementById('dialogue_narration');
            const imgVidInstruction = document.getElementById('img_vid_instruction');
            const thumbnailInstruction = document.getElementById('thumbnail_instruction');
            const youtubeCardInstruction = document.getElementById('youtube_card_instruction');
            const imagesContainer = document.getElementById('images-container');
            const imageList = data.image_list;
            imagesContainer.replaceChildren();
            for (const im of imageList) {
                const imageTag = document.createElement('img');
                imageTag.src = im;
                imageTag.classList.add('image');
                imagesContainer.appendChild(imageTag);
            }
            vidDetailSection[0].style.display = 'flex';
            vidDetailSectionHeader[0].style.display = 'block';
            const voiceRecordingList = data.voice_recordings;
            voiceRecordingContainer.replaceChildren();
            for (const a of voiceRecordingList) {
                const audioTag = document.createElement('audio');
                audioTag.src = a;
                audioTag.classList.add('voice_recording');
                audioTag.controls = true;
                audioTag.loop = true;
                audioTag.volume = 0.5;
                voiceRecordingContainer.appendChild(audioTag);
            }
            voiceRecordingContainer.style.display = 'flex';
            tempTitle.innerHTML = data.temp_title;
            dialogueNarration.innerHTML = data.dialogue_narration;
            imgVidInstruction.innerHTML = data.img_vid_instruction;
            thumbnailInstruction.innerHTML = data.thumbnail_instruction;
            youtubeCardInstruction.innerHTML = data.youtube_card_instruction;
            document.getElementById('img-upload-video-uuid').value = data.video_uuid;
            document.getElementById('image-feedback-btn').onclick = () => openImageFeedback(data.video_uuid);
        }).catch(error => {
            console.error('Error:', error);
        });
    }
    function uploadImages() {
        const mainSection = document.getElementById('main-section');
        mainSection.style.display = 'none';
        const uploadImagesSection = document.getElementById('upload-images-section');
        uploadImagesSection.style.display = 'flex';
    }

    // ----------------------------------------------- AVOID MULTIPLE CLICK SUBMITS -----------------------------------------------
    document.getElementById('upload-images-form').addEventListener('submit', function(e) {
        const submitBtn = document.getElementById('upload-images-btn');
        
        // Check if form is already submitting
        if (this.classList.contains('is-submitting')) {
            e.preventDefault(); // Stop the double submission
            return false;
        }
        
        // Mark form as submitting and provide visual feedback
        this.classList.add('is-submitting');
        // submitBtn.disabled = true; 
        submitBtn.innerText = 'Submitting...';
    })
// ------------------------------------------------- UPLOAD IMAGES -------------------------------------------------------
    const uploadImagesForm = document.getElementById('upload-images-form');
    uploadImagesForm.addEventListener('submit', async function(e) {
        e.preventDefault();

        const submitBtn = document.getElementById('upload-images-btn');
        const imgUploadEndpointUrl = "{{ url_for('youtube.upload_images') }}";
        const fileInput = document.getElementById('image-files');
        const imageText = document.getElementById('image-text').value;
        const statusMessage = document.getElementById('status-message');
        const videoUuid = document.getElementById('img-upload-video-uuid').value;
        if (fileInput.files.length === 0) {
            statusMessage.textContent = 'Please select at least one image file.';
            return;
        }

        submitBtn.innerText = 'Uploading...';
        submitBtn.disabled = true;
        const formData = new FormData();
        for (const file of fileInput.files) {
            formData.append('files', file);
        }
        formData.append('video_uuid', videoUuid);
        formData.append('image_text', imageText);
        formData.append('type', 'upload_images');
        try {
            const response = await fetch(imgUploadEndpointUrl, {
            method: 'POST',
            body: formData // Passed directly; do not set Content-Type header
            });

            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const result = await response.json();
            alert(result);
            console.log('Success:', result);
            statusMessage.textContent = 'Image uploaded successfully.';
        
        } catch (error) {
            console.error('Submission failed:', error);
            statusMessage.textContent = 'Image upload failed. Please try again.';
        } finally {
            submitBtn.innerText = 'Upload images';
            submitBtn.disabled = false;
        }
    });
    
    function goBack() {
        window.location.reload();
    }
    // -------------------------------------------- OPEN IMAGE FEEDBACK PAGE ---------------------------------------------------------
    function openImageFeedback(video_uuid) {
        const endpointUrl = "{{ url_for('youtube.image_feedback') }}";
        window.location.href = endpointUrl + '?video_uuid=' + video_uuid;
    }
</script>

{% endblock %}