{% extends "base.html" %}
{% block content %}
<style>
    h4, h3, h2, h5, h6 {
        line-height: 0 !important;
        margin: 0% !important;
        padding: 0% !important;
    }
    h4 {
        font-size: 1.4rem;
        font-weight: 600 !important;
        margin: 0% !important;
        padding: 0% !important;
    }
    h5 {
        font-size: 1.2rem;
        margin: 0% !important;
        padding: 0% !important;
    }
    p {
        font-size: 1rem;
        margin: 0% !important;
        padding: 0% !important;
    }
    #root-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        min-height: 90vh;
        background: rgb(170, 181, 132);
    }
    #main-section {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    #display {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0% 0% 2% 0%;
        margin: 1% 1% 2% 2%;
        background: rgb(227, 238, 205);
        border-radius: 1.5rem;
        overflow: hidden;
        min-height: 75vh;
    }
    #project-selection-section {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        margin: 1% 2% 2% 1%;
        background: rgb(210, 222, 180);
        border-radius: 1.5rem;
    }
    .channel-btn {
        width: 100%;
        background: rgb(127, 148, 56);
        border-radius: 1.5rem;
        border: none;
        margin: 2%;
        color: black;
        padding: 1%;
    }
    #project-selection-parent-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 5% 2% 0% 2%;
        background: rgb(253, 255, 224);
        height: 35vh;
        padding: 5% 10%;
        border-radius: 1.5rem;
        overflow-y: auto;
    }
    #operations-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 5% 2% 0% 2%;
        background: rgb(253, 255, 224);
        height: 35vh;
        padding: 5% 10%;
        border-radius: 1.5rem;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .selection-header {
        display: block;
        margin: 0%;
        font-weight: 600;
        color: black;
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }
    #project-selection-header {
        display: block;
    }
    #project-selection-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .project-btn {
        width: 100%;
        background: rgb(62, 79, 8);
        border-radius: 1.5rem;
        border: none;
        margin: 2%;
        color: white;
        padding: 1%;
    }
    .operation-btn {
        width: 100%;
        background: rgb(202, 102, 7);
        border-radius: 1.5rem;
        border: none;
        margin: 2%;
        color: white;
        padding: 1%;
    }
    .operation-btn:hover {
        background: rgb(150, 75, 5);
    }
    #display-inner-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0% 5%;
    }
    #temp_title {
        width: 100%;
        display: flex;
        justify-content: center;
        font-weight: 500;
        color: white;
        background: rgb(94, 119, 11);
        font-size: 1.5rem;
    }
    .vid-detail-section-header {
        display: block;
        margin: 0%;
        font-weight: 600;
        color: black;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }
    .vid-detail-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 10vh;
        background: white;
        margin: .5% 0%;
        width: 100%;
        border-radius: 1.5rem;
        padding: 1.5% 1%;
        height: 30vh;
        overflow-y: auto;
    }
    #voice_recording_container {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
        width: 100%;
    }
    .voice_recording {
        display: block;
        margin: 1%;
    }
    #storyboard-section-header {
        display: none;
    }
    #selected_storyboard_container {
        display: none;
    }
    .storyboard_container {
        height: 50vh;
        overflow-y: auto;
    }
    .video {
        margin:0% .5%;
    }
    /* ------------------------------------------ SELECT CURRENT VIDEO ---------------------------------------------- */
    #select-current-video-btn {
        width: 100%;
        background: rgb(60, 60, 60);
        color: white;
        border-radius: 1.5rem;
    }
    #select-current-video-btn:hover {
        background: rgb(109, 129, 27);
    }

    #select-current-video-section {
        display: none;
        flex-direction: column;
        align-items: center;
        min-height: 20vh;
        width: 100%;
        justify-content: center;
    }
    #select-current-video-form {
        background: rgb(244, 244, 203);
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 3% 10%;
        border-radius: 2rem;
    }
    #select-current-video-submit-btn {
        width: 100%;
        background: rgb(168, 108, 12);
        border-radius: 1.5rem;
        border: none;
        color: white;
        padding: 1%;
    }
    #select_current_video_select {
        width: 100%;
        background: rgb(248, 255, 224);
        color: black;
        padding: 1% 2%;
        border: none;
        border-radius: 1.5rem;
        font-size: .9rem;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        margin-bottom: 2%;
    }
    label {
        margin: 0%;
    }
    /* ------------------------------------------ UPLOAD IMAGES -------------------------------------------------- */
    #upload-images-section {
        display: none;
        flex-direction: column;
        align-items: center;
        min-height: 20vh;
        width: 100%;
    }
    #upload-video-section {
        display: none;
        flex-direction: column;
        align-items: center;
        min-height: 20vh;
        width: 100%;
    }
    .upload-form {
        background: rgb(244, 244, 203);
        width: 60%;
        padding: 3% 10%;
        border-radius: 2rem;
    }
    #upload-images-header {
        width: 100%;
        text-align: center;
        font-weight: 600;
        margin: 0% 0% 2% 0% !important;
        font-size: 1.2rem;
    }
    #upload-images-form input {
        padding: .5% 1% 0.5% 1%;
        border-radius: 1.5rem;
        color: black;
    }
    #upload-images-form input::placeholder {
        color: rgb(111, 133, 79);
    }
    .upload-button {
        width: 100%;
        background: rgb(168, 108, 12);
        border-radius: 1.5rem;
        border: none;
        color: white;
        padding: 1%;
    }
    #upload-images-btn:hover {
        background: rgb(132, 73, 6);
    }
    .go-back {
        background: rgb(81, 87, 59);
        border-radius: 1.5rem;
        border: none;
        color: white;
        padding: .5% 5%;
        margin: 1% 0% 0% 0%;
        transition: all 0.2s ease-in-out;
    }
    #go-back:hover {
        background: rgb(37, 40, 26);
    }
    /* --------------------------------------------------IMAGES DISPLAY---------------------------------------------------- */
    #images-container {
        display: flex;
        flex-direction: row !important;
        background: rgb(35, 43, 3) !important;
        flex-wrap: nowrap;
        overflow-x: auto;
        height: 30vh;
        margin-bottom: 0%;
    }
    #videos-container {
        display: flex;
        flex-direction: row !important;
        background: rgb(35, 43, 3) !important;
        flex-wrap: nowrap;
        overflow-x: auto;
        height: 30vh;
        margin-bottom: 0%;
    }
    .image {
        height: 100%;
        width: auto;
        margin: 0% .5%;
    }
    .section-action-button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 0%;
        padding-top:0.5%;
        padding-bottom: .5%;
        background: rgb(131, 138, 120);
        border-radius: 1.5rem;
        border: 2px solid rgb(37, 40, 26);
        margin-bottom: 2%;
    }
    .section-action-button {
        background: rgb(127, 55, 4);
        border-radius: 1.5rem;
        border: none;
        margin: 0%;
        color: white;
        padding: 0% 2%;
        text-decoration: none;
        border: 1px solid rgb(0, 0, 0);
    }
    .section-action-button:hover {
        background: rgb(90, 46, 7);
        text-decoration: none;
        color: white;
    }
    /* ------------------------------------------ MEDIA QUERIES -------------------------------------------------- */

    @media(max-width: 1200px) {
        #display {
            width: 70%;
            margin: 0% .5% 1% .5%
        }
        #project-selection-section {
            width: 30%;
            margin: 0% .5% 1% .5%
        }
        .vid-detail-section {
            padding: 3% 3%;
        }
        h4 {
            font-size: 1.1rem !important;
            font-weight: 600 !important;
            line-height: 0 !important;
            margin: 0% !important;
            padding: 0% !important;
        }
        h5 {
            font-size: 1rem !important;
            padding: 0% !important;
            margin: 0% !important;
        }
        p {
            font-size: .9rem !important;
            padding: 0% !important;
            margin: 0% !important;
        }
    }

    @media(max-width: 768px) {
        #display {
            width: 65%;
            margin: 0% .5% 1% .5%
        }
        #project-selection-section {
            width: 35%;
            margin: 0% .5% 1% .5%
        }
        #voice_recording_container {
            flex-direction: column;
        }
        .vid-detail-section {
            padding: 6% 4%;
        }
        h4 {
            font-size: .9rem !important;
            font-weight: 600 !important;
            line-height: 0 !important;
            margin: 0% !important;
            padding: 0% !important;
        }
        h5 {
            font-size: .8rem !important;
            padding: 0% !important;
            margin: 0% !important;
        }
        p {
            font-size: .7rem !important;
            padding: 0% !important;
            margin: 0% !important;
        }
        .voice_recording {
            width: 90%;
            height: 50%;
        }
        #temp_title {
            font-size: 1rem;
        }
        .vid-detail-section-header {
            font-size: .85rem;
        }
        .selection-header {
            font-size: .85rem;
        }
        .channel-btn{
            font-size: .8rem;
        }
        .project-btn {
            font-size: .7rem;
            border-radius: .5rem;
            padding: 5% 0%;
            line-height: 1;
        }
        #project-selection-parent-container {
            padding: 3% 3%;
        }
        #upload-images-form {
            width: 80%;
        }
        #upload-images-form input {
            font-size: .7rem;
        }
        #upload-images-btn {
            font-size: .8rem;
        }
    }
</style>

<div id="root-container">
    <div id="main-section">
        <div id="display">
            <p id="temp_title">{{ default_video_dict['temp_title'] }}</p>

            <div id="display-inner-container">
                <p id="dialogue-narration-section-header" class="vid-detail-section-header">Dialogue & narration</p>
                <div id="dialogue_narration" class="vid-detail-section">
                    {{ default_video_dict['dialogue_narration'] }}
                </div>

                <p id="voice-recording-section-header" class="vid-detail-section-header">Voice recording</p>
                <div id="voice_recording_container" class="vid-detail-section">
                    {% for audio in default_video_dict['voice_recordings'] %}
                    <audio id="voice_recording" class="voice_recording" src="{{ audio }}" controls volume="0.5" loop></audio>
                    {% endfor %}
                </div>
                {% if default_video_dict['storyboard'] %}
                <p id="default-storyboard-section-header" class="vid-detail-section-header">Storyboard</p>
                <div id="storyboard_container" class="vid-detail-section storyboard_container">
                    <iframe src="{{ default_video_dict['storyboard'][0] }}" width="100%" height="1200px" style="border: none;" title="Embedded PDF"></iframe>
                </div>
                {% endif %}
                <p id="storyboard-section-header" class="vid-detail-section-header">Storyboard</p>
                <div id="selected_storyboard_container" class="vid-detail-section storyboard_container">
                    <iframe id="storyboard" src="" width="100%" height="1200px" style="border: none;" title="Embedded PDF"></iframe>
                </div>
                <p id="image-video-instruction-section-header" class="vid-detail-section-header">Image/Video instruction</p>
                <div id="img_vid_instruction" class="vid-detail-section">
                    {{ default_video_dict['img_vid_instruction'] }}
                </div>
                <p id="images-section-header" class="vid-detail-section-header">Images</p>
                <div id="images-container" class="vid-detail-section">
                {% for img in default_video_dict['image_list'] %}
                    <img class="image" src="{{ img }}" alt="image">
                {% endfor %}
                </div>
                <div id="images-action-button-container" class="section-action-button-container">
                    <button class="section-action-button" id="image-feedback-btn" onclick="openImageFeedback({{ default_video_dict['video_uuid']}})">Feedbacks</button>
                </div>

                <p id="videos-section-header" class="vid-detail-section-header">Videos</p>
                <div id="videos-container" class="vid-detail-section">
                    {% for video in default_video_dict['video_list'] %}
                    <video class="video" src="{{ video }}" controls height="200"></video>
                    {% endfor %}
                </div>
                <div id="videos-action-button-container" class="section-action-button-container">
                    <button class="section-action-button" id="video-feedback-btn" onclick="openImageFeedback({{ default_video_dict['video_uuid']}})">Feedbacks</button>
                </div>
                
                <p id="thumbnail-instruction-section-header" class="vid-detail-section-header">Thumbnail instruction</p>
                <div id="thumbnail_instruction" class="vid-detail-section">
                    {{ default_video_dict['thumbnail_instruction'] }}
                </div>

                <p id="yt-card-section-header" class="vid-detail-section-header">Youtube card instruction</p>
                <div id="youtube_card_instruction" class="vid-detail-section">
                    {{ default_video_dict['youtube_card_instruction'] }}
                </div>
            </div>
        </div>
        <div id="project-selection-section">
            <p class="selection-header">Channels</p>
            {% for c in channels %}
            <button class="channel-btn" onclick="selectChannel('{{c[0]}}')">{{c[1]}}</button>
            {% endfor %}
            <div id="project-selection-parent-container">
                <p class="selection-header" id="project-selection-header">Projects</p>
                <div id="project-selection-container">
                    {% for v in default_video_dict['vid_uuid_name_list'] %}
                    <button class="project-btn" onclick="displayVideoDetails('{{v[0]}}')">{{ v[1] }}</button>
                    {% endfor %}
                </div>
            </div>
            <div id="operations-container">
                <p class="selection-header" id="operations-header">Operations</p>
                <button id="select-current-video-btn" onclick="selectCurrentVideoSection()">Select Working Video</button>
                <hr>
                <button id="upload-img" class="operation-btn" onclick="uploadImages()">Upload images</button>
                <button id="upload-video-btn" class="operation-btn" onclick="uploadVideo()">Upload video</button>
            </div>
        </div>
    </div>
    <div id="upload-images-section">
        <form id="upload-images-form" class="upload-form">
            <p id="upload-images-header">Upload images</p>
            <input type="file" id="image-files" name="image-files" class="file-upload-input" accept=".jpg, .jpeg, .png, image/jpeg, image/png" multiple required>
            <input type="text" id="image-text" name="image-text" placeholder="Anything you want to say?">
            <input type="hidden" name="video_uuid" id="img-upload-video-uuid" value="{{ default_video_dict['video_uuid'] }}">
            <button type="submit" name="submit" value="upload_images" id="upload-images-btn" class="form-button upload-button">Upload images</button>
            <div id="status-message"></div>
        </form>
        <button class="go-back" onclick="goBack()">Go back</button>
    </div>
    <div id="upload-video-section">
        <form id="upload-video-form" class="upload-form">
            <p id="upload-images-header">Upload video</p>
            <label>Scene</label>
            <input type="number" name="scene" placeholder="Scene (example 1, 2, 3, etc.)">
            <label>Shot</label>
            <input type="text" name="shot" placeholder="Shot (example A, B, C, a, b, c etc.)">
            <input type="file" id="video-file" name="video-file" class="file-upload-input" accept=".mp4, .avi, .mov, video/mp4, video/avi, video/mov" required>
            <input type="hidden" name="video_uuid" id="video-upload-video-uuid" value="{{ default_video_dict['video_uuid'] }}">
            <button type="submit" name="submit" value="upload_video" id="upload-video-btn" class="form-button upload-button">Upload video</button>
            <div id="video-status-message"></div>
        </form>
        <button class="go-back" onclick="goBack()">Go back</button>
    </div>
    <div id="select-current-video-section">
        <form id="select-current-video-form">
            <p id="upload-images-header">Select current video</p>
            <select name="select_current_video_select" id="select_current_video_select">
                <option value="">Select Video</option>
                {% for video in current_video_option_list %}
                <option value="{{video[0]}}">{{video[1]}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="submit" value="select_current_video" id="select-current-video-submit-btn" class="form-button" onclick="setCurrentVideo()">Set Current video</button>
        </form>
    </div>
</div>

<script>
    const defaultVideoDict = {{ default_video_dict | tojson }};

    function initialLoad() {
        const dialogueNarration = document.getElementById('dialogue_narration');
        const imgVidInstruction = document.getElementById('img_vid_instruction');
        const voiceRecording = document.getElementById('voice_recording_container');
        const imagesContainer = document.getElementById('images-container');
        const thumbnailInstruction = document.getElementById('thumbnail_instruction');
        const youtubeCardInstruction = document.getElementById('youtube_card_instruction');
        dialogueNarration.innerHTML = defaultVideoDict['dialogue_narration'];
        imgVidInstruction.innerHTML = defaultVideoDict['img_vid_instruction'];
        thumbnailInstruction.innerHTML = defaultVideoDict['thumbnail_instruction'];
        youtubeCardInstruction.innerHTML = defaultVideoDict['youtube_card_instruction'];   
        if (defaultVideoDict['dialogue_narration'] != '' && defaultVideoDict['dialogue_narration'] != null) {
            dialogueNarration.style.display = 'flex';
            document.getElementById('dialogue-narration-section-header').style.display = 'block';
        } else {
            dialogueNarration.style.display = 'none';
            document.getElementById('dialogue-narration-section-header').style.display = 'none';
        }
        if (defaultVideoDict['voice_recordings'].length > 0) {
            voiceRecording.style.display = 'flex';
            document.getElementById('voice-recording-section-header').style.display = 'block';
        } else {
            voiceRecording.style.display = 'none';
            document.getElementById('voice-recording-section-header').style.display = 'none';
        }
        if (defaultVideoDict['image_list'].length > 0) {
            imagesContainer.style.display = 'flex';
            document.getElementById('images-section-header').style.display = 'block';
            document.getElementById('images-action-button-container').style.display = 'flex';
        } else {
            imagesContainer.style.display = 'none';
            document.getElementById('images-section-header').style.display = 'none';
            document.getElementById('images-action-button-container').style.display = 'none';
        }
        if (defaultVideoDict['video_list'].length > 0) {
            document.getElementById('videos-section-header').style.display = 'block';
            document.getElementById('videos-container').style.display = 'flex';
            document.getElementById('videos-action-button-container').style.display = 'flex';
        } else {
            document.getElementById('videos-section-header').style.display = 'none';
            document.getElementById('videos-container').style.display = 'none';
            document.getElementById('videos-action-button-container').style.display = 'none';
        }
        if (defaultVideoDict['img_vid_instruction'] != '' && defaultVideoDict['img_vid_instruction'] != null) {
            imgVidInstruction.style.display = 'flex';
            document.getElementById('image-video-instruction-section-header').style.display = 'block';
        } else {
            imgVidInstruction.style.display = 'none';
            document.getElementById('image-video-instruction-section-header').style.display = 'none';
        }
        if (defaultVideoDict['thumbnail_instruction'] != '' && defaultVideoDict['thumbnail_instruction'] != null) {
            thumbnailInstruction.style.display = 'flex';
            document.getElementById('thumbnail-instruction-section-header').style.display = 'block';
        } else {
            thumbnailInstruction.style.display = 'none';
            document.getElementById('thumbnail-instruction-section-header').style.display = 'none';
        }
        if (defaultVideoDict['youtube_card_instruction'] != '' && defaultVideoDict['youtube_card_instruction'] != null) {
            youtubeCardInstruction.style.display = 'flex';
            document.getElementById('yt-card-section-header').style.display = 'block';
        } else {
            youtubeCardInstruction.style.display = 'none';
            document.getElementById('yt-card-section-header').style.display = 'none';
        }
    }
    initialLoad();
    function selectChannel(channel_uuid) {
        const endpointUrl = "{{ url_for('youtube.home') }}";
        fetch(endpointUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'channel_uuid': channel_uuid,
                'type': 'select_channel'
            })
        }).then(response => response.json()).then(data => {
            const videoList = data.video_list;
            const projectSelectionHeader = document.getElementById('project-selection-header');
            document.getElementById('project-selection-container').replaceChildren();
            for (const vid of videoList) {
                const myButton = document.createElement('button');
                myButton.innerHTML = vid[1];
                myButton.classList.add('project-btn');
                myButton.onclick = () => displayVideoDetails(vid[0]);
                document.getElementById('project-selection-container').appendChild(myButton);
                document.getElementById('project-selection-header').style.display = 'block';
            }
            projectSelectionHeader.style.display = 'block';
        }).catch(error => {
            console.error('Error:', error);
        });
    }

    function displayVideoDetails(video_uuid) {
        const endpointUrl = "{{ url_for('youtube.home') }}";
        fetch(endpointUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'video_uuid': video_uuid,
                'type': 'select_video',
            })
        }).then(response => response.json()).then(data => {
            const vidDetailSection = document.querySelectorAll('.vid-detail-section');
            const vidDetailSectionHeader = document.querySelectorAll('.vid-detail-section-header');
            const voiceRecordingContainer = document.getElementById('voice_recording_container');
            const tempTitle = document.getElementById('temp_title');
            const dialogueNarration = document.getElementById('dialogue_narration');
            const imgVidInstruction = document.getElementById('img_vid_instruction');
            const thumbnailInstruction = document.getElementById('thumbnail_instruction');
            const youtubeCardInstruction = document.getElementById('youtube_card_instruction');
            const imagesContainer = document.getElementById('images-container');
            const videoContainer = document.getElementById('videos-container');
            const storyboard = document.getElementById('storyboard');
            const storyboardSectionHeader = document.getElementById('storyboard-section-header');
            const selectedStoryboardContainer = document.getElementById('selected_storyboard_container');
            const imageList = data.image_list;
            document.getElementById('image-feedback-btn').onclick = () => openImageFeedback(data.video_uuid);
            document.getElementById('video-feedback-btn').onclick = () => openImageFeedback(data.video_uuid);
            
            imagesContainer.replaceChildren();
            for (const im of imageList) {
                const imageTag = document.createElement('img');
                imageTag.src = im;
                imageTag.classList.add('image');
                imagesContainer.appendChild(imageTag);
            }
            videoContainer.replaceChildren();
            for (const vid of data.video_list) {
                const videoTag = document.createElement('video');
                videoTag.src = vid;
                videoTag.classList.add('video');
                videoTag.controls = true;
                videoTag.height = 200;
                videoContainer.appendChild(videoTag);
            }
            vidDetailSection[0].style.display = 'flex';
            vidDetailSectionHeader[0].style.display = 'block';
            const voiceRecordingList = data.voice_recordings;
            voiceRecordingContainer.replaceChildren();
            for (const a of voiceRecordingList) {
                const audioTag = document.createElement('audio');
                audioTag.src = a;
                audioTag.classList.add('voice_recording');
                audioTag.controls = true;
                audioTag.loop = true;
                audioTag.volume = 0.5;
                voiceRecordingContainer.appendChild(audioTag);
            }
            tempTitle.innerHTML = data.temp_title;
            dialogueNarration.innerHTML = data.dialogue_narration;
            imgVidInstruction.innerHTML = data.img_vid_instruction;
            thumbnailInstruction.innerHTML = data.thumbnail_instruction;
            youtubeCardInstruction.innerHTML = data.youtube_card_instruction;
            storyboard.src = data.storyboard;
            if (data.dialogue_narration != '' && data.dialogue_narration != null) {
                dialogueNarration.style.display = 'flex';
                document.getElementById('dialogue-narration-section-header').style.display = 'block';
            } else {
                dialogueNarration.style.display = 'none';
                document.getElementById('dialogue-narration-section-header').style.display = 'none';
            }
            if (data.voice_recordings.length > 0) {
                voiceRecordingContainer.style.display = 'flex';
                document.getElementById('voice-recording-section-header').style.display = 'block';
            } else {
                voiceRecordingContainer.style.display = 'none';
                document.getElementById('voice-recording-section-header').style.display = 'none';
            }
            if (data.img_vid_instruction != '' && data.img_vid_instruction != null) {
                imgVidInstruction.style.display = 'flex';
                document.getElementById('image-video-instruction-section-header').style.display = 'block';
            } else {
                imgVidInstruction.style.display = 'none';
                document.getElementById('image-video-instruction-section-header').style.display = 'none';
            }
            if (data.storyboard != null && data.storyboard != "") {
                storyboardSectionHeader.style.display = 'block';
                selectedStoryboardContainer.style.display = 'block';
            } else {
                storyboardSectionHeader.style.display = 'none';
                selectedStoryboardContainer.style.display = 'none';
            }
            if (data.video_list.length == 0) {
                document.getElementById('videos-section-header').style.display = 'none';
                videoContainer.style.display = 'none';
                document.getElementById('videos-action-button-container').style.display = 'none';
            } else {
                document.getElementById('videos-section-header').style.display = 'block';
                videoContainer.style.display = 'flex';
                document.getElementById('videos-action-button-container').style.display = 'flex';
            }
            if (data.image_list.length == 0) {
                document.getElementById('images-section-header').style.display = 'none';
                imagesContainer.style.display = 'none';
                document.getElementById('images-action-button-container').style.display = 'none';
            } else {
                document.getElementById('images-section-header').style.display = 'block';
                imagesContainer.style.display = 'flex';
                document.getElementById('images-action-button-container').style.display = 'flex';
            }
            if (data.thumbnail_instruction != '' && data.thumbnail_instruction != null) {
                thumbnailInstruction.style.display = 'flex';
                document.getElementById('thumbnail-instruction-section-header').style.display = 'block';
            } else {
                thumbnailInstruction.style.display = 'none';
                document.getElementById('thumbnail-instruction-section-header').style.display = 'none';
            }
            if (data.youtube_card_instruction != '' && data.youtube_card_instruction != null) {
                youtubeCardInstruction.style.display = 'flex';
                document.getElementById('yt-card-section-header').style.display = 'block';
            } else {
                youtubeCardInstruction.style.display = 'none';
                document.getElementById('yt-card-section-header').style.display = 'none';
            }
            document.getElementById('default-storyboard-section-header').style.display = 'none';
            document.getElementById('storyboard_container').style.display = 'none';
            document.getElementById('img-upload-video-uuid').value = data.video_uuid;
            document.getElementById('vid-upload-video-uuid').value = data.video_uuid;
            
        }).catch(error => {
            console.error('Error:', error);
        });
    }
    function selectCurrentVideoSection() {
        const mainSection = document.getElementById('main-section');
        mainSection.style.display = 'none';
        const selectCurrentVideoSection = document.getElementById('select-current-video-section');
        selectCurrentVideoSection.style.display = 'flex';
    }
    function setCurrentVideo() {
        const selectedVideoUuid = document.getElementById('select_current_video_select').value;
        const endpointUrl = "{{ url_for('youtube.home') }}";
        fetch(endpointUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'video_uuid': selectedVideoUuid,
                'type': 'select_current_video',
            })
        }).then(response => response.json()).then(data => {
            alert('Current video updated successfully.');
            window.location.reload();
        }).catch(error => {
            console.error('Error:', error);
        });
    }

    function uploadImages() {
        const mainSection = document.getElementById('main-section');
        mainSection.style.display = 'none';
        const uploadImagesSection = document.getElementById('upload-images-section');
        uploadImagesSection.style.display = 'flex';
    }

    function uploadVideo() {
        const mainSection = document.getElementById('main-section');
        mainSection.style.display = 'none';
        const uploadVideoSection = document.getElementById('upload-video-section');
        uploadVideoSection.style.display = 'flex';
    }

    // ----------------------------------------------- AVOID MULTIPLE CLICK SUBMITS -----------------------------------------------
    document.getElementById('upload-images-form').addEventListener('submit', function(e) {
        const submitBtn = document.getElementById('upload-images-btn');
        
        // Check if form is already submitting
        if (this.classList.contains('is-submitting')) {
            e.preventDefault(); // Stop the double submission
            return false;
        }
        
        // Mark form as submitting and provide visual feedback
        this.classList.add('is-submitting');
        // submitBtn.disabled = true; 
        submitBtn.innerText = 'Submitting...';
    })
// ------------------------------------------------- UPLOAD IMAGES & VIDEO -------------------------------------------------------
    const uploadImagesForm = document.getElementById('upload-images-form');
    const uploadVideoForm = document.getElementById('upload-video-form');

    uploadImagesForm.addEventListener('submit', async function(e) {
        e.preventDefault();

        const submitBtn = document.getElementById('upload-images-btn');
        const imgUploadEndpointUrl = "{{ url_for('youtube.upload_images') }}";
        const fileInput = document.getElementById('image-files');
        const imageText = document.getElementById('image-text').value;
        const statusMessage = document.getElementById('status-message');
        const videoUuid = document.getElementById('img-upload-video-uuid').value;
        if (fileInput.files.length === 0) {
            statusMessage.textContent = 'Please select at least one image file.';
            return;
        }

        submitBtn.textContent = 'Uploading...';
        submitBtn.disabled = true;
        const formData = new FormData();
        for (const file of fileInput.files) {
            formData.append('files', file);
        }
        formData.append('video_uuid', videoUuid);
        formData.append('image_text', imageText);
        formData.append('type', 'upload_images');
        try {
            const response = await fetch(imgUploadEndpointUrl, {
            method: 'POST',
            body: formData // Passed directly; do not set Content-Type header
            });

            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const result = await response.json();
            alert(result);
            console.log('Success:', result);
            statusMessage.textContent = 'Image uploaded successfully.';
        
        } catch (error) {
            console.error('Submission failed:', error);
            statusMessage.textContent = 'Image upload failed. Please try again.';
        } finally {
            uploadImagesForm.reset();
            submitBtn.textContent = 'Upload images';
            submitBtn.disabled = false;
        }
    });

    uploadVideoForm.addEventListener('submit', async function(e) {
        e.preventDefault();

        const videoSubmitBtn = document.getElementById('upload-video-btn');
        videoSubmitBtn.textContent = 'Uploading...';

        const imgUploadEndpointUrl = "{{ url_for('youtube.upload_video') }}";
        const sceneInput = document.querySelector('#upload-video-form input[name="scene"]');
        const shotInput = document.querySelector('#upload-video-form input[name="shot"]');
        const fileInput = document.getElementById('video-file');
        const statusMessage = document.getElementById('video-status-message');
        const videoUuid = document.getElementById('video-upload-video-uuid').value;

        if (sceneInput.value.trim() === '' || shotInput.value.trim() === '') {
            statusMessage.textContent = 'Please provide both scene and shot information.';
            return;
        }
        if (fileInput.files.length === 0) {
            statusMessage.textContent = 'Please select at least one video file.';
            return;
        }

        videoSubmitBtn.disabled = true;

        const formData = new FormData();
        for (const file of fileInput.files) {
            formData.append('files', file);
        }
        formData.append('video_uuid', videoUuid);
        formData.append('scene', sceneInput.value.trim());
        formData.append('shot', shotInput.value.trim());
        formData.append('type', 'upload_video');
        try {
            const response = await fetch(imgUploadEndpointUrl, {
            method: 'POST',
            body: formData // Passed directly; do not set Content-Type header
            });

            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }

            const result = await response.json();
            alert(result);
            console.log('Success:', result);
            statusMessage.textContent = 'Video uploaded successfully.';
        
        } catch (error) {
            console.error('Submission failed:', error);
            statusMessage.textContent = 'Video upload failed. Please try again.';
        } finally {
            uploadVideoForm.reset();
            videoSubmitBtn.textContent = 'Upload video';
            videoSubmitBtn.disabled = false;
        }
    });
    
    function goBack() {
        window.location.reload();
    }
    // -------------------------------------------- SELECT CURRENT VIDEO -----------------------------------------------------------
    function selectCurrentVideoPopup() {
        
    }
    // -------------------------------------------- OPEN IMAGE FEEDBACK PAGE ---------------------------------------------------------
    function openImageFeedback(video_uuid) {
        const endpointUrl = "{{ url_for('youtube.image_feedback') }}";
        window.location.href = endpointUrl + '?video_uuid=' + video_uuid;
    }
</script>

{% endblock %}