{% extends "base.html" %}
{% block content %}
<div class="container manager-page">
    <div class="row">
        <div class="col-md-3" id="menu-list">
            <div id="overview">
                <h5>OVERVIEW</h5>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="overview()" value="overview">OVERVIEW</button>
            </div>
            <div id="workshop">
                <h5>STUDY MATERIAL OPERATIONS</h5>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="addNewWs()" value="Add New Workshop">Add New Workshop</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="addWsDetails()" value="Add Workshop Details">Add Workshop Details</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="openRegistration()" value="open-registration">Open Registration</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="addRecordingLink()" value="Add Recording Link">Add Recording Link</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="addSessionLink()" value="Add Session Link">Add Session Link</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="closeRegistration()" value="Close Registration">Close Registration</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="openDemo()" value="add_demo">Add Demo Video</button>
            </div>
            <div id="notification">
                <h5>NOTIFICATIONS</h5>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="promotion()" value="New Workshop Promotion">New Workshop Promotion</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="lastDateReminder()" value="Last Date Reminder">Last Date Reminder</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="sessionLink()" value="Session Link">Session Link</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="sessionReminder()" value="Session Reminder">Session Reminder</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="certificateDistribution()" value="Certificate Distribution">Certificate Distribution</button>
            </div>
            <div id="communication">
                <h5>COMMUNICATION</h5>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="sendEmail()" value="New Workshop Promotion">Email</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="sendWa()" value="Last Date Reminder">Whatsapp</button>
            </div>
            <div id="export">
                <h5>EXPORTS</h5>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="csvForCertificates()" value="CSV for Certificate">CSV for Certificates</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="reports()" value="Reports">Reports</button>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="gstFilingSheet()" value="GST Filing Sheet">GST Filing Sheet</button>
            </div>
            <div id="miscellaneous">
                <h5>MISCELLANEOUS</h5>
                <a class="btn-primary btn-block btn-large my_btn" href="{{ url_for('manager.adv_operations') }}">OPERATIONS</a>
                <button class="btn-primary btn-block btn-large my_btn" type="button" onclick="gallery()" value="Gallery">GALLERY</button>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8 operation-body">
            <div id="manager-img">
                <img src="{{ url_for('static', filename='images/manager.png')}}">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                          <div class="{{category}}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div id="overview-content">
                <h2>Current Workshop Status</h2>
                <form action="{{ url_for('manager.home') }}" method="post">
                    <input name="current_ws" placeholder="Current workshop name" type="text" required><br>
                    <button type="submit" class="btn btn-primary btn-block btn-large">SET IT!</button>
                </form>
                <table class="ws_view_table">
                    <tr>
                        <th>Current Workshop</th>
                        <th>Open Registration</th>
                        <th>Promotion</th>
                        <th>Last-Day Reminder</th>
                        <th>Close Registration</th>
                        <th>Certificate Distribution</th>
                    </tr>
                    <tr>
                        <td>{{current_ws_name}}</td>
                        <td class="{{open_reg}}">{{open_reg}}</td>
                        <td class="{{promotion}}">{{promotion}}</td>
                        <td class="{{reminder}}">{{reminder}}</td>
                        <td class="{{close_reg}}">{{close_reg}}</td>
                        <td class="{{certificate_distribution}}">{{certificate_distribution}}</td>
                    </tr>
                </table>
                <h3 style="margin-top: 8%; margin-bottom: 5%;">Upcoming Workshops</h3>
                <table class="ws_view_table">
                    <tr>
                        <th>Workshop Name</th>
                        <th>Details</th>
                    </tr>
                        {% for n in range(count) %}
                        <tr>
                            <td><a type="button" onclick="workshopDetails({{n}}, {{count_list}})"><u>{{upcoming_ws_dict['ws'][n]['name']}}</u></a></td>
                            <td class="{{upcoming_ws_dict['details'][n]['status']}}">{{upcoming_ws_dict['details'][n]['status']}}</td>
                        </tr>
                        {% endfor %}
                </table>
                {% for n in range(count) %}
                    <div class="view_workshop_table" id="{{n}}">
                        <h5 style="padding-top: 5%; padding-bottom: 2%;">Workshop</h5>
                        <table class="ws_view_table">
                            <tr>
                                <th>Name</th>
                                <th>Topic</th>
                                <th>Instructor</th>
                            </tr>
                            <tr>
                                <td>{{upcoming_ws_dict['ws'][n]['name']}}</td>
                                <td>{{upcoming_ws_dict['ws'][n]['topic']}}</td>
                                <td>{{upcoming_ws_dict['ws'][n]['instructor']}}</td>
                            </tr>
                        </table>
                        <h5 style="padding: 2%;">Details</h5>
                        <table class="ws_view_table">
                            <tr>
                                <th>Column</th>
                                <th>Data</th>
                            </tr>
                            <tr>
                                <th>Category</th>
                                <td>{{upcoming_ws_dict['details'][n]['category']}}</td>
                            </tr>
                            <tr>
                                <th>Brief</th>
                                <td>{{upcoming_ws_dict['details'][n]['brief']}}</td>
                            </tr>
                            <tr>
                                <th>Sessions</th>
                                <td>{{upcoming_ws_dict['details'][n]['sessions']}}</td>
                            </tr>
                            <tr>
                                <th>Subtopic 1</th>
                                <td>{{upcoming_ws_dict['details'][n]['subtopic1']}}</td>
                            </tr>
                            <tr>
                                <th>Subtopic 2</th>
                                <td>{{upcoming_ws_dict['details'][n]['subtopic2']}}</td>
                            </tr>
                            <tr>
                                <th>Subtopic 3</th>
                                <td>{{upcoming_ws_dict['details'][n]['subtopic3']}}</td>
                            </tr>
                            <tr>
                                <th>Subtopic 4</th>
                                <td>{{upcoming_ws_dict['details'][n]['subtopic4']}}</td>
                            </tr>
                            <tr>
                                <th>Subtopic 5</th>
                                <td>{{upcoming_ws_dict['details'][n]['subtopic5']}}</td>
                            </tr>
                            <tr>
                                <th>Subtopic 6</th>
                                <td>{{upcoming_ws_dict['details'][n]['subtopic6']}}</td>
                            </tr>
                            <tr>
                                <th>Subtopic 7</th>
                                <td>{{upcoming_ws_dict['details'][n]['subtopic7']}}</td>
                            </tr>
                            <tr>
                                <th>Subtopic 8</th>
                                <td>{{upcoming_ws_dict['details'][n]['subtopic8']}}</td>
                            </tr>
                            <tr>
                                <th>Subtopic 9</th>
                                <td>{{upcoming_ws_dict['details'][n]['subtopic9']}}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{upcoming_ws_dict['details'][n]['description']}}</td>
                            </tr>
                            <tr>
                                <th>Requirement 1</th>
                                <td>{{upcoming_ws_dict['details'][n]['req1']}}</td>
                            </tr>
                            <tr>
                                <th>Requirement 2</th>
                                <td>{{upcoming_ws_dict['details'][n]['req2']}}</td>
                            </tr>
                            <tr>
                                <th>Requirement 3</th>
                                <td>{{upcoming_ws_dict['details'][n]['req3']}}</td>
                            </tr>
                            <tr>
                                <th>Requirement 4</th>
                                <td>{{upcoming_ws_dict['details'][n]['req4']}}</td>
                            </tr>
                            <tr>
                                <th>Requirement 5</th>
                                <td>{{upcoming_ws_dict['details'][n]['req5']}}</td>
                            </tr>
                            <tr>
                                <th>Requirement 6</th>
                                <td>{{upcoming_ws_dict['details'][n]['req6']}}</td>
                            </tr>
                            <tr>
                                <th>Requirement 7</th>
                                <td>{{upcoming_ws_dict['details'][n]['req7']}}</td>
                            </tr>
                            <tr>
                                <th>Requirement 8</th>
                                <td>{{upcoming_ws_dict['details'][n]['req8']}}</td>
                            </tr>
                            <tr>
                                <th>Requirement 9</th>
                                <td>{{upcoming_ws_dict['details'][n]['req9']}}</td>
                            </tr>
                            <tr>
                                <th>Result 1</th>
                                <td>{{upcoming_ws_dict['details'][n]['r1']}}</td>
                            </tr>
                            <tr>
                                <th>Result 2</th>
                                <td>{{upcoming_ws_dict['details'][n]['r2']}}</td>
                            </tr>
                            <tr>
                                <th>Result 3</th>
                                <td>{{upcoming_ws_dict['details'][n]['r3']}}</td>
                            </tr>
                            <tr>
                                <th>Result 4</th>
                                <td>{{upcoming_ws_dict['details'][n]['r4']}}</td>
                            </tr>
                            <tr>
                                <th>Result 5</th>
                                <td>{{upcoming_ws_dict['details'][n]['r5']}}</td>
                            </tr>
                            <tr>
                                <th>Result 6</th>
                                <td>{{upcoming_ws_dict['details'][n]['r6']}}</td>
                            </tr>
                            <tr>
                                <th>Result 7</th>
                                <td>{{upcoming_ws_dict['details'][n]['r7']}}</td>
                            </tr>
                            <tr>
                                <th>Result 8</th>
                                <td>{{upcoming_ws_dict['details'][n]['r8']}}</td>
                            </tr>
                            <tr>
                                <th>Result 9</th>
                                <td>{{upcoming_ws_dict['details'][n]['r9']}}</td>
                            </tr>

                        </table>
                    </div>
                {% endfor %}
            </div>
            <div id="add-ws">
                <form action="{{ url_for('manager.home') }}" method="post">
                    <h2>Add New Workshop</h2>
                    <input name="name" placeholder="Name" type="text" required><br>
                    <input name="topic" placeholder="Topic" type="text" required><br>
                    <label style="color: gray; width:100%;">Workshop Date</label>
                    <input class="radio-inp" maxlength="2" type="text" name="date" placeholder="Date" required>
                    <input class="radio-inp" maxlength="2" type="text" name="month" placeholder="Month" required>
                    <input class="radio-inp" maxlength="4" type="text" name="year" placeholder="Year" required>
                    <input name="time" placeholder="Time" type="text" required>
                    <input name="link" placeholder="Session Link" type="text" required>
                    <input name="instructor" placeholder="Instructor" type="text" required><br>
                    <button type="submit" class="btn btn-primary btn-block btn-large">ADD TO DATABASE</button>
                </form>
            </div>
            <div id="add-ws-details">
                <form action="{{ url_for('manager.home') }}" method="post">
                    <h2>Add Ws details</h2>
                    <input name="ws_name" placeholder="Workshop Name" type="text" required>
                    <input name="category" placeholder="category" type="text" required><br>
                    <input name="brief" placeholder="brief" type="text" required><br>
                    <input name="sessions" placeholder="sessions" type="text" required><br>
                    <input name="st1" placeholder="Subtopic1" type="text"><br>
                    <input name="st2" placeholder="Subtopic2" type="text"><br>
                    <input name="st3" placeholder="Subtopic3" type="text"><br>
                    <input name="st4" placeholder="Subtopic4" type="text"><br>
                    <input name="st5" placeholder="Subtopic5" type="text"><br>
                    <input name="st6" placeholder="Subtopic6" type="text"><br>
                    <input name="st7" placeholder="Subtopic7" type="text"><br>
                    <input name="st8" placeholder="Subtopic8" type="text"><br>
                    <input name="st9" placeholder="Subtopic9" type="text"><br>
                    <input name="description" placeholder="Description" type="text" required><br>
                    <input name="req1" placeholder="Requirement1" type="text"><br>
                    <input name="req2" placeholder="Requirement2" type="text"><br>
                    <input name="req3" placeholder="Requirement3" type="text"><br>
                    <input name="req4" placeholder="Requirement4" type="text"><br>
                    <input name="req5" placeholder="Requirement5" type="text"><br>
                    <input name="req6" placeholder="Requirement6" type="text"><br>
                    <input name="req7" placeholder="Requirement7" type="text"><br>
                    <input name="req8" placeholder="Requirement8" type="text"><br>
                    <input name="req9" placeholder="Requirement9" type="text"><br>
                    <input name="result1" placeholder="Result1" type="text"><br>
                    <input name="result2" placeholder="Result2" type="text"><br>
                    <input name="result3" placeholder="Result3" type="text"><br>
                    <input name="result4" placeholder="Result4" type="text"><br>
                    <input name="result5" placeholder="Result5" type="text"><br>
                    <input name="result6" placeholder="Result6" type="text"><br>
                    <input name="result7" placeholder="Result7" type="text"><br>
                    <input name="result8" placeholder="Result8" type="text"><br>
                    <input name="result9" placeholder="Result9" type="text"><br>
                    <button type="submit" class="btn btn-primary btn-block btn-large">ADD TO DATABASE</button>
                </form>
                <form action="{{ url_for('manager.home') }}" method="post" id="form2" enctype="multipart/form-data">
                    <input type="text" name="workshop_name" placeholder="Workshop Name" required>
                    <input type="file" name="file" id="file2" multiple>
                    <button type="submit" name="submit" id="file-btn2" class="btn btn-primary btn-block btn-large" value="upload_photos">UPLOAD PHOTOS</button>
                </form>
            </div>
            <div id="open-reg">
                <form action="{{url_for('manager.home')}}" method="post" style="padding-top: 5%;">
                    <h2>Open Registration Window</h2>
                    <input type="hidden" name="open-reg" value="open-reg">
                    <button type="submit" class="btn btn-primary btn-block btn-large">OPEN REGISTRATION</button>
                </form>
            </div>
            <div id="add-recording-link">
                <form action="{{ url_for('manager.home') }}" method="post">
                    <h2>Add Recording Link</h2>
                    <input name="yt" placeholder="Recorded Session URL" type="text"><br>
                    <button type="submit" class="btn btn-primary btn-block btn-large">ADD TO DATABASE</button>
                </form>
            </div>
            <div id="add-session-link">
                <form action="{{ url_for('manager.home') }}" method="post">
                    <h2>Add Session Link</h2>
                    <input name="session-link" placeholder="Recorded Session URL" type="text"><br>
                    <button type="submit" class="btn btn-primary btn-block btn-large">ADD TO DATABASE</button>
                </form>
            </div>
            <div id="close-reg">
                <form action="{{ url_for('manager.home') }}" method="post">
                    <h2>Close Registration Window</h2>
                    <button type="submit" name="close" class="btn btn-primary btn-block btn-large" value="shut-reg-door">Close Registration</button>
                </form>
            </div>
            <div id="open-demo">
                <form action="{{ url_for('manager.home') }}" method="post">
                    <h2>Add Demo Video</h2>
                    <input name="title" type="text" placeholder="Title">
                    <input name="level" type="text" placeholder="Level">
                    <input name="caption" type="text" placeholder="Caption">
                    <input name="vid_id1" type="text" placeholder="Video id Part 1">
                    <input name="vid_id2" type="text" placeholder="Video id Part 2">
                    <input name="vid_id3" type="text" placeholder="Video id Part 3">
                    <input name="tags" type="text" placeholder="Tags">
                    <button type="submit" name="add_demo" value="demo" class="btn btn-primary btn-block btn-large">ADD DEMO VIDEO</button>
                </form>
            </div>
            <div id="ws-promo">
                <form action="{{ url_for('manager.home') }}" method="post">
                    <h2>Workshop Promotion</h2>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="mail-promo">Mail Promotion</button>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="wa-promo">Whatsapp Promotion</button>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="wa-mail-promo">Mail & Wa Promotion</button>
                </form>
            </div>
            <div id="last-day-reminder">
                <form action="{{ url_for('manager.home') }}" method="post">
                    <h2>Last Day Reminder</h2>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="mail-last-rem">Mail Reminder</button>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="wa-last-rem">Whatsapp Reminder</button>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="wa-mail-last-rem">Mail & Wa Remidner</button>
                </form>
            </div>
            <div id="session-link">
                <form action="{{ url_for('manager.home') }}" method="post">
                    <h2>Send Session Link</h2>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="mail-link">Email</button>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="wa-link">Whatsapp</button>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="wa-mail-link">Email & Whatsapp</button>
                </form>
            </div>
            <div id="session-reminder">
                <form action="{{ url_for('manager.home') }}" method="post">
                    <h2>Send Session Reminder</h2>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="mail-s-rem">Email Reminder</button>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="wa-s-rem">Whatsapp Reminder</button>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="wa-mail-s-rem">Email & Whatsapp Reminder</button>
                </form>
            </div>
            <div id="certificate-dist">
                <form action="{{ url_for('manager.home') }}" method="post">
                    <h2>Distribute Certificates</h2>
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="certificate-dist">Distribute via Email</button>
                </form>
                <div id="basket">
                    <h2>Upload Certificates</h2>
                    <form action="{{ url_for('manager.home') }}" method="post" id="form1" enctype="multipart/form-data">
                        <input type="file" name="file" id="file" multiple>
                        <button type="submit" name="submit" id="file-btn" class="btn btn-primary btn-block btn-large" value="upload_files">Upload Files</button>
                    </form>
                </div>
            </div>
            <div id="send-email">
                <form action="{{ url_for('manager.home') }}" method="post">
                    <h2>Send Email</h2>
                    <select name="sender-mail">
                        <option value="default">Choose mail</option>
                        <option value="school">School</option>
                        <option value="studio">Studio</option>
                        <option value="support">Support</option>
                    </select>
                    <select name="recipient" id="recipient" onchange="recipientPopup()">
                        <option value="default">Choose recipient</option>
                        <option value="all-students-interested">All students + Interested</option>
                        <option value="all-students">All Students</option>
                        <option value="all-enrolled">All enrolled</option>
                        <option value="all-interested">All interested</option>
                        <option value="workshop">Workshop</option>
                        <option value="course">Course</option>
                        <option value="manual">Enter manually</option>
                    </select>
                    <select id="workshop-list" name="workshop-list">
                        <option value="default">Choose workshop</option>
                        {% for ws in all_workshops %}
                        <option value="{{ ws.id }}">{{ ws.topic }}</option>
                        {% endfor %}
                    </select>
                    <select id="workshop-recipient" name="workshop-recipient">
                        <option value="default">Choose recipient category</option>
                        <option value="all">All</option>
                        <option value="enrolled">Enrolled</option>
                        <option value="interested">Interested</option>
                    </select>
                    <input id="manual-recipients" type="text" name="manual-recipients" placeholder="manual-recipients separated by comma if multiple">
                    <input type="text" name="subject" placeholder="Subject">
                    <label>Mail body (use 'Enter' for line break)</label>
                    <textarea style="width:100%; height:20vh;" name="message"></textarea>
                    <button type="submit" name="submit" id="send-email-btn" class="btn btn-primary btn-block btn-large" value="send-email">Send Mail</button>
                </form>
            </div>

            <div id="gallery">
                <div id="gallery-content">
                    <h2>Upload artworks</h2>
                    <form action="{{ url_for('manager.home') }}" method="post" id="form3" enctype="multipart/form-data">
                        <input type="file" name="file" id="file3" multiple>
                        <button type="submit" name="submit" id="file-btn3" class="btn btn-primary btn-block btn-large" value="upload_artworks">Upload Files</button>
                    </form>
                </div>
            </div>
            <div id="csv-export-cert">
                <h2>Export CSV for Certificates</h2>
                <form action="{{ url_for('manager.home') }}" method="post">
                    
                    <button type="submit" name="submit" class="btn btn-primary btn-block btn-large" value="csv-exp-cert">Create CSV</button>
                    <button type="submit" name="submit" class="btn btn-secondary btn-block btn-large" value="download-cert-name-csv">Download Name-list</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/manager.js')}}"></script>
{% endblock %}