{% extends "base.html" %}
{% block content %}
<div style="display:flex; flex-direction:column; align-items:center; justify-content:center; width:100%;">
    <h2 style="padding-bottom:5%;">PORTRAIT PRICING</h2>
    <div class="price-table">
        <table style="width:100%">
            <tr>
                <td style="background:#807d7d; color:white;">Digital Portraits (All sizes)</td>
                <td><s>₹{{ portrait_price_time_dict['portrait_digital']['price'] }}</s> <span style="color:green;"><b>₹{{ portrait_price_time_dict['portrait_digital']['discounted_price'] }}</b></span></td>
            </tr>

        </table>
    </div>
    <div class="price-table">
        <p id="price-table-label"><b>OIL ON CANVAS</b></p>
        <table style="width:100%;">
            <tr>
                <td style="background:#807d7d; color:white;">Size</td>
                <td style="background:#807d7d; color:white;">Oil on Canvas</td>
            </tr>
            <tr>
                <td>18 x 24 inch (1.5 x 2 feet)</td>
                <td><s>₹{{ portrait_price_time_dict['portrait_oil_on_canvas_18x24']['price'] }}</s> <span style="color:green;"><b>₹{{ portrait_price_time_dict['portrait_oil_on_canvas_18x24']['discounted_price'] }}</b></span></td>
            </tr>
            <tr>
                <td>24 x 36 inch (2 x 3 feet)</td>
                <td><s>₹{{ portrait_price_time_dict['portrait_oil_on_canvas_24x36']['price'] }}</s> <span style="color:green;"><b>₹{{ portrait_price_time_dict['portrait_oil_on_canvas_24x36']['discounted_price'] }}</b></span></td>
            </tr>
            <tr>
                <td>30 x 40 inch (2.5 x 3.33 feet)</td>
                <td><s>₹{{ portrait_price_time_dict['portrait_oil_on_canvas_30x40']['price'] }}</s> <span style="color:green;"><b>₹{{ portrait_price_time_dict['portrait_oil_on_canvas_30x40']['discounted_price'] }}</b></span></td>
            </tr>
            <tr>
                <td>36 x 48 inch (3 x 4 feet)</td>
                <td><s>₹{{ portrait_price_time_dict['portrait_oil_on_canvas_36x48']['price'] }}</s> <span style="color:green;"><b>₹{{ portrait_price_time_dict['portrait_oil_on_canvas_36x48']['discounted_price'] }}</b></span></td>
            </tr>
        </table>
        <p style="color:#e04e22;">Discount is available for limited time.</p>
    </div>
</div>

{% endblock %}