{% extends "base.html" %}
{% block content %}
<style>

</style>
<div class="painting-gallery">
    {% for uuid in artwork_dict %}
    <a href="{{ url_for('studio.portrait_detail', uuid=uuid, title=artwork_dict[uuid]['title']) }}" style="text-decoration: none;">
        <div class="painting-box-container">
            <div class="painting-box">
                <img src="../{{ artwork_dict[uuid]['path'] }}">
            </div>
            <p style="color: #C9C9C9;"> {{ artwork_dict[uuid]['title'] }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}