{% extends "base.html" %}
{% block content %}


<div class="full-size-portrait">
    <img class="full-width-portrait" src="../{{ img_path }}">
    <div style="display: flex; flex-direction: column; text-align:center; align-items: center; width: 100%;">
        <p class="portrait-main-details" style="margin-bottom:0%; padding-top:3%;">{{ title }}</p>
        <p class="portrait-main-details" style="margin-top:0%;">Artist: <span style="color:#B5104F;">{{ artist }}</span></p>
        <p class="portrait-main-details" style="margin-top:0%;"><i>{{ description }}</i></p>
    </div>
    {% if medium == 'digital' %}
    <div class="full-width-div-row-narrow" style="background:black; color:white; justify-content:center; padding-bottom:0%;">
        <p><b>DIGITAL SKETCH</b></p>
    </div>

    <div class="full-width-div-row-narrow" style="background:black; color:white; text-align: center;">
        <p class="half-width-paragraph"><b>Charge:</b><br> Starts from <b>₹5,000</b></p>
        <p><b>Time Taken:</b><br> 3-8 days approx.<br>(for exact deadline please contact the artist.)</p>
    </div>
    {% elif medium == 'oil_on_canvas' %}
    <div class="full-width-div-row-narrow" style="background:black; color:white; justify-content:center; padding-bottom:0%;">
        <p><b>OIL ON CANVAS</b></p>
    </div>
    <div class="full-width-div-row-narrow" style="background:black; color:white; text-align: center;">
        <p class="half-width-paragraph"><b>Charge:</b><br> Starts from <b>₹10,000</b></p>
        <p><b>Time Taken:</b><br> 3-8 weeks approx.<br>(for exact deadline please contact the artist.)</p>
    </div>
    {% elif medium == 'acrylics_on_canvas' %}
    <div class="full-width-div-row-narrow" style="background:black; color:white; justify-content:center; padding-bottom:0%;">
        <p><b>ACRYLICS ON CANVAS</b></p>
    </div>
    <div class="full-width-div-row-narrow" style="background:black; color:white; text-align: center;">
        <p class="half-width-paragraph"><b>Charge:</b><br> Starts from <b>₹8,000</b></p>
        <p><b>Time Taken:</b><br> 1-4 weeks approx.<br>(for exact deadline please contact the artist.)</p>
    </div>
    {% elif medium == 'charcoal_on_paper' %}
    <div class="full-width-div-row-narrow" style="background:black; color:white; justify-content:center; padding-bottom:0%;">
        <p><b>CHARCOAL ON PAPER</b></p>
    </div>
    <div class="full-width-div-row-narrow" style="background:black; color:white; text-align: center;">
        <p class="half-width-paragraph"><b>Charge:</b><br> Starts from <b>₹5,000</b></p>
        <p><b>Time Taken:</b><br> 3-8 days approx.<br>(for exact deadline please contact the artist.)</p>
    </div>
    {% endif %}

    <div class="full-width-div-row-narrow">
        <p>The customer has to provide photograph/s for reference to be used to create the painting. Customization (changes like
        <i>clothes, hair, beard, poses</i> etc) can be done by the artist if the customer demands.</p>
    </div>


    {% if medium == 'digital' %}
    <a class="portrait-btn" href="https://wa.link/bjlw5z">PLACE ORDER</a>
    {% elif medium == 'oil_on_canvas' %}
    <a class="portrait-btn" href="https://wa.link/2gmnr6">PLACE ORDER</a>
    {% elif medium == 'acrylics_on_canvas' %}
    <a class="portrait-btn" href="https://wa.link/3jt991">PLACE ORDER</a>
    {% elif medium == 'charcoal_on_paper' %}
    <a class="portrait-btn" href="https://wa.link/cz6bh0">PLACE ORDER</a>
    {% endif %}



    {% if medium == 'digital' %}
    <div class="full-width-div-row-narrow" style="background:#DECAD8;">
        <p><b>Print:</b><br>We provide a softcopy (PNG, JPG, PDF etc.) of very high quality (HD) printable file of the digital portrait once complete and one printed copy of the same in excellent quality</span>
            which we <span style="color:#B5104F;">deliver</span> straight to your doorstep wherever you live in India at a fair additional printing charge. As the charges are different for prints of different size, to know the exact printing price please contact us.
            <br>Later on you can get it printed again yourself
        as many times as you want using the softcopy we provide.</p>
    </div>
    {% else %}
    <div class="full-width-div-row-narrow" style="background:#DECAD8;">
        <p><b>Courier:</b><br>Completely <span style="color:#B5104F;">FREE OF COST courier</span> anywhere inside India. We cover all the courier expenses incurred in sending the prepared Artwork/painting/Portrait safely to the customers using very safe and sturdy packaging
            through the courier providing the best service in the customer's delivery area.</p>
    </div>
    <div class="full-width-div-row-narrow" style="background:#DECAD8;">
        <p><b>Insurance:</b><br>We care for our customers' hard-earned money. Therefore, we provide an option for insurance of the Painting while in courier transit.<br>
        What does it mean? In case the painting gets damaged or gets lost and the courier provider is found responsible for the same,
            we help <span style="color:#B5104F;">recover 100%</span> of the total money the customer paid us for the painting using the courier insurance.
        As already stated, the courier cost is completely paid by us inside India but if the customer chooses to get insurance done,
        then the insurance charge has to be borne by the customer.<br><br>The insurance charge is transparent and is fixed. For the painting commissions amounting upto ₹20,000
        the insurance charge is 1% of the total amount (for example, for a painting costing ₹18,000 total, the insurance charge
        will be a flat ₹180), for the painting commissions amounting ₹20,001-₹45,000 the insurance charge is 2% of the total amount and
        for the painting commissions amounting ₹45,001-₹50,000 the insurance charge is 2.25% of the total amount.<br>
            The refunded amount will be credited straight to the <span style="color:#B5104F;">bank account</span> provided by the customer.</p>
    </div>
    {% endif %}
    <div class="full-width-div-row-narrow" style="background:#DECAD8;">
        <p><b>Refund:</b><br>For some unseen reasons if the painting fails to get completed and the artist is responsible for the same,
        the customer/client will get all the paid amount <span style="color:#B5104F;">fully refunded</span> without any hassle.</p>
    </div>

    {% if medium == 'digital' %}
    <a class="portrait-btn" href="https://wa.link/7cfgaq">CONTACT US</a>
    {% elif medium == 'oil_on_canvas' %}
    <a class="portrait-btn" href="https://wa.link/7vioyu">CONTACT US</a>
    {% elif medium == 'acrylics_on_canvas' %}
    <a class="portrait-btn" href="https://wa.link/oglbvh">CONTACT US</a>
    {% elif medium == 'charcoal_on_paper' %}
    <a class="portrait-btn" href="https://wa.link/11755y">CONTACT US</a>
    {% endif %}

</div>

{% endblock %}