{% extends "base.html" %}
{% block content %}
<style>
    .artworks-container {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2% 5%;
        background: black;
        margin: 2% 0%;
        text-align: center;
        color: gray;
    }
    .artworks img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: 1%;
    }


</style>
<div class="container" style="margin-top: 0px;">
    <div class="row">
        <div class="trunk">
            <img src="../../static/images/profile-pic.jpg" width="300px">
            <h2>{{dict['name']}}</h2><br>
            <h6>Artist, Illustrator, Animator</h6><br>
            <h6 style="padding-top: 2%;"><i>Education - </i>MFA, JJ College of Arts</i></h6><br>
            <h6><i>Specialization - </i>Storyboard, Previz, Book Illustrions</i></h6><br>
            <h6><i>Awards - </i>BAFTA-2008, FIVE - STAR AWARD</i></h6><br>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English.
                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                and a search for 'lorem ipsum' will uncover many web-sites still in their infancy. Various versions have
                evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            <div class="two-btn-full">
                <a class="btn btn-primary btn-large btn-one" type="button" href=""> BIOGRAPHY</a>
                <a class="btn btn-primary btn-large btn-two" type="button" href=""> SEND MESSAGE</a>
            </div>
        </div>
    </div>
</div>

<div class="artworks-container">
    <h1>ILLUSTRATIONS</h1>
    <p>Click Image to open in large size</p>
    <div class="artworks">
    {% for img in dict %}
    <a type="button" onclick="openFullImage('{{dict[img]['large']}}', '{{dict[img]['title']}}')"><img src="{{dict[img]['thumbnail']}}"></a>
    {% endfor %}
    </div>
</div>
<div id="artwork-popup-overlay"></div>
    <div class="artwork-popup">
        <div id="artwork-popup">
            <div style="display:flex; justify-content:space-between; width:100%; background:black; color:gray; padding:1% 2% 0% 2%;">
                <p>IMAGE VIEWER</p>
                <a type="button" style="color:white;" onclick="closeFullImage()">Close</a>
            </div>
            <div id="full-size-img-box">
                <h3 id="artwork-title"></h3>
                <img id="full-size-img" src="">
            </div>
        </div>
    </div>
<!--    <form class="popup-form-container" action="{{url_for('school.home')}}" name="interested-form" method="post">-->
<!--        <div style="display: flex; justify-content: right; width: 95%;">-->
<!--            <a style="opacity: 0.5;" type="button" onclick="closeFormInterested2()">close <img src="/static/images/icons/cross-sign.png" width="10px"></a>-->
<!--        </div>-->
<!--        <h3 style="color: #c9c9c9;">INTERESTED</h3>-->
<!--        <p>We'll notify you when enrollment of the selected workshop opens</p>-->
<!--        {% if not logged_in %}-->
<!--        <input type="text" placeholder="Name" name="name" required>-->
<!--        <input type="email" placeholder="Email" name="email" required>-->
<!--        <input type="text" placeholder="Phone" name="phone" required>-->
<!--        <input type="text" placeholder="Whatsapp (skip if same whatsapp)" name="whatsapp">-->
<!--        {% endif %}-->
<!--        <input type="hidden" id="interested-form-hidden-workshop2" name="interested-form-hidden-workshop" required>-->
<!--        <input type="text" maxlength="300" placeholder="Any message for us? (optional)" name="message">-->
<!--        <input type="submit" name="submit" class="btn btn-primary" onclick="closeFormInterested2()" value="SUBMIT">-->
<!--    </form>-->
<!--</div>-->

<script src="/static/js/studio.js"></script>

{% endblock %}