{% extends "base.html" %}
{% block content %}
<style>
    .discount_advertisement {
        display: flex;
        justify-content: center;
        align-items: center;
        background:#ac0000;
        color: white;
        padding: 0% 0%;
    }
    .discount_advertisement p {
        font-size: .9rem;
        padding: 0%;
        margin: 0%;
    }
    @media (min-width: 600px) {
        .discount_advertisement p {
            font-size: 1.3rem;
        }
    }
    @media (min-width: 768px) {
        .discount_advertisement p {
            font-size: 1.5rem;
        }
    }
    @media (min-width: 1200px) {
        .discount_advertisement p {
            font-size: 1.8rem;
        }
    }
    @media (min-width: 1900px) {
    }
</style>

<div class="discount_advertisement">
  <p><span style="color:#dedede;">Upto </span><b>{{ maximum_discount }}%</b> discount on Portraits. <span style="color:#dedede;"> Hurry!</span></p>
</div>

<div class="painting-gallery">
    {% for uuid in artwork_dict %}
    <a href="{{ url_for('studio.portrait_detail', uuid=uuid, title=artwork_dict[uuid]['title']) }}" style="text-decoration: none;">
        <div class="painting-box-container">
            <div class="painting-box">
                <img src="../{{ artwork_dict[uuid]['path'] }}">
            </div>
            <p style="color: #C9C9C9;"> {{ artwork_dict[uuid]['title'] }}</p>
        </div>
    </a>
    {% endfor %}
</div>
<div class="studio-btn-two">
    <a style="color:white;" href="{{ url_for('studio.artwork_pricing') }}">PRICING & CHARGES</a>
</div>
{% endblock %}