{% extends "base.html" %}
{% block content %}

<div class="discount_advertisement">
  <p><span style="color:#dedede;">Upto </span><b>{{ maximum_discount }}%</b> discount on Portraits. <span style="color:#dedede;"> Hurry!</span></p>
</div>

<div class="painting-gallery">
    {% for uuid in artwork_dict %}
    <a href="{{ url_for('studio.portrait_detail', uuid=uuid, title=artwork_dict[uuid]['title']) }}" style="text-decoration: none;">
        <div class="painting-box-container">
            <div class="painting-box">
                <img src="../{{ artwork_dict[uuid]['path'] }}">
            </div>
            <p style="color: #C9C9C9;"> {{ artwork_dict[uuid]['title'] }}</p>
        </div>
    </a>
    {% endfor %}
</div>
<div class="studio-btn-two">
    <a style="color:white;" href="{{ url_for('studio.artwork_pricing') }}">PRICING & CHARGES</a>
</div>
{% endblock %}