{% extends "base.html" %}
{% block content %}
<div class="full-size-portrait">
    <div style="height: 90vh;">
        <img src="../{{ img_path }}" height="100%">
    </div>
    <div style="text-align:center;">
        <p style="margin-bottom:0%; padding-top:3%;">{{ title }}</p>
        <p style="margin-top:0%;">Artist: <span style="color:#B5104F;">{{ artist }}</span></p>
        <p style="margin-top:0%;">{{ description }}</p>
    </div>
    {% if medium == 'digital' %}
    <div class="full-width-div-row-narrow" style="background:black; color:white; justify-content:center; padding-bottom:0%;">
        <p><b>DIGITAL SKETCH</b></p>
    </div>

    <div class="full-width-div-row-narrow" style="background:black; color:white;">
        <p class="half-width-paragraph">Charge:<br> Starts from <b>₹5,000</b></p>
        <p>Time Taken:<br> 3-8 days approx.<br>(for exact deadline please contact the artist.)</p>
    </div>
    {% elif medium == 'oil_on_canvas' %}
    <div class="full-width-div-row-narrow" style="background:black; color:white; justify-content:center; padding-bottom:0%;">
        <p><b>OIL ON CANVAS</b></p>
    </div>
    <div class="full-width-div-row-narrow" style="background:black; color:white;">
        <p class="half-width-paragraph">Charge:<br> Starts from <b>₹10,000</b></p>
        <p>Time Taken:<br> 3-8 weeks approx.<br>(for exact deadline please contact the artist.)</p>
    </div>
    {% elif medium == 'acrylics_on_canvas' %}
    <div class="full-width-div-row-narrow" style="background:black; color:white; justify-content:center; padding-bottom:0%;">
        <p><b>ACRYLICS ON CANVAS</b></p>
    </div>
    <div class="full-width-div-row-narrow" style="background:black; color:white;">
        <p class="half-width-paragraph">Charge:<br> Starts from <b>₹8,000</b></p>
        <p>Time Taken:<br> 1-4 weeks approx.<br>(for exact deadline please contact the artist.)</p>
    </div>
    {% elif medium == 'charcoal_on_paper' %}
    <div class="full-width-div-row-narrow" style="background:black; color:white; justify-content:center; padding-bottom:0%;">
        <p><b>CHARCOAL ON PAPER</b></p>
    </div>
    <div class="full-width-div-row-narrow" style="background:black; color:white;">
        <p class="half-width-paragraph">Charge:<br> Starts from <b>₹5,000</b></p>
        <p>Time Taken:<br> 3-8 days approx.<br>(for exact deadline please contact the artist.)</p>
    </div>
    {% endif %}

    <div class="full-width-div-row-narrow">
        <p>The Customer has to provide photograph/s for reference to be used for creating the painting. Customization (changes like
        <i>clothes, hair, beard, poses</i> etc) will be done by the artist if the customer demands.</p>
    </div>


    {% if medium == 'digital' %}
    <a class="portrait-btn" href="https://wa.link/bjlw5z">PLACE ORDER</a>
    {% elif medium == 'oil_on_canvas' %}
    <a class="portrait-btn" href="https://wa.link/2gmnr6">PLACE ORDER</a>
    {% elif medium == 'acrylics_on_canvas' %}
    <a class="portrait-btn" href="https://wa.link/3jt991">PLACE ORDER</a>
    {% elif medium == 'charcoal_on_paper' %}
    <a class="portrait-btn" href="https://wa.link/cz6bh0">PLACE ORDER</a>
    {% endif %}


    <div class="full-width-div-row-narrow" style="background:#DECAD8;">
        <p><b>Refund:</b><br>If for some unseen reasons the painting fails to get completed and if the artist is responsible for the same
        the customer/client will get the all the paid amount <span style="color:#B5104F;">fully refunded</span> without any hassle.</p>
    </div>
    {% if medium == 'digital' %}
    <div class="full-width-div-row-narrow" style="background:#DECAD8;">
        <p><b>Print:</b><br>Usually we provide the softcopy of very high quality (HD) printable file of the digital portrait which the customer can get
            printed themselves in the size of their choice.<br>But if the customer wants to save their time and stress, <span style="color:#B5104F;">we can get it printed for you in excellent quality</span>
            and <span style="color:#B5104F;">deliver</span> straight to your doorstep wherever you live in India at a fair additional charge.</p>
    </div>
    {% else %}
    <div class="full-width-div-row-narrow" style="background:#DECAD8;">
        <p><b>Courier:</b><br>Completely <span style="color:#B5104F;">FREE OF COST courier</span> inside India. We cover all the courier expenses to send the prepared Artwork/painting/Portrait</p>
    </div>
    <div class="full-width-div-row-narrow" style="background:#DECAD8;">
        <p><b>Insurance:</b><br>We care for our customers' hard-earned money.Therefore, we provide an option for insurance of the Painting while in courier transit.<br>
        What does it mean? In case the painting gets damaged or gets lost and the courier is found responsible for the same
            we help <span style="color:#B5104F;">recover 100%</span> of the total money the customer paid us for the painting using the courier insurance.
        As already stated the courier cost is completely paid by us inside India but if the customer chooses to get insurance done,
        then the insurance charge has to be borne by the customer.<br>The insurance charge is transparent and is fixed. For painting commissions amounting upto ₹20,000
        the insurance charge is 1% of the total amount (for example, for a painting costing ₹18,000 total, the insurance charge
        will be a flat ₹180), for painting commissions amounting ₹20,001-₹45,000 the insurance charge is 2% of the total amount and
        for painting commissions amounting ₹45,001-₹50,000 the insurance charge is 2.25% of the total amount.<br>
            The refunded amount will be credit straight to the <span style="color:#B5104F;">bank account</span> provided by the customer.</p>
    </div>
    {% endif %}

    {% if medium == 'digital' %}
    <a class="portrait-btn" href="https://wa.link/7cfgaq">CONTACT US</a>
    {% elif medium == 'oil_on_canvas' %}
    <a class="portrait-btn" href="https://wa.link/7vioyu">PLACE ORDER</a>
    {% elif medium == 'acrylics_on_canvas' %}
    <a class="portrait-btn" href="https://wa.link/oglbvh">PLACE ORDER</a>
    {% elif medium == 'charcoal_on_paper' %}
    <a class="portrait-btn" href="https://wa.link/11755y">PLACE ORDER</a>
    {% endif %}

</div>

{% endblock %}