{% extends "base.html" %}
{% block content %}

<div class="box">
  <h3 style="color: white;">Set New Password</h3>
  <form action="{{ url_for('forgot_password') }}" name="set-password" onsubmit="return validateForm2()" method="post">
    <input type="password" minlength="5" name="password" placeholder="Enter New Password" required="required" />
    <input
      type="password"
      name="reenter-password"
      placeholder="Re-enter new password"
      required="required"
    />
    <button type="submit" class="btn btn-primary btn-block btn-large">
      SET PASSWORD
    </button>
  </form>
</div>
<script src="static/js/my_account.js"></script>
{% endblock %}