{% extends "base.html" %}
{% block content %}
<style>
    #root-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
        background: rgb(164, 173, 155);
        width: 100%;
        padding: 0% 3%;
    }
    #title {
        font-weight: 900;
        font-size: 1.2rem;
    }
    #column-container {
        display: flex;
        width: 100%;
    }
    #left-side-bar {
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        border-right: solid 1px rgba(0, 0, 0, 0.372);
        background: rgb(211, 216, 186);
    }
    #pending-heading {
        font-size: 1rem;
        font-weight: 700;
        color: red;
        margin: 0%;
    }
    #pending-text {
        font-size: .9rem;
        line-height: 1;
    }
    .pending-artwork-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 5%;
        margin-bottom: 5%;
        background: rgb(254, 255, 244);
        text-align: center;
    }
    .pending-artwork-card:hover {
        cursor: pointer;
    }
    .pending-artwork-card img {
        width: 100%;
        padding-bottom: 2%;
    }
    .pending-artwork-card p {
        margin: 0%;
        padding: 0%;
        line-height: 1;
    }
    .pending-artwork-title {
        font-weight: 500;
        font-size: .9rem;
    }
    .pending-artwork-category-text {
        opacity: .6;
        font-size: .8rem;
    }
    #main-area {
        display: flex;
        width: 85%;
        min-height: 85vh;
    }
    #right-side-bar {
        width: 15%;
        display: flex;
        flex-direction: column;
        padding-left: .5%;
        border-left: solid 1px rgba(0, 0, 0, 0.372);
    }
    #right-side-bar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #right-side-bar-container form {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1% 2%;
        background: rgb(188, 192, 174);
        margin: .5%;
    }
    #form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }
    #form-container form {
        width: 22%;
        display: flex;
        flex-direction: column;
        padding: 1% 2%;
        background: rgb(188, 192, 174);
        margin: .5%;
    }
    .form-container form button {
        background: rgb(149, 160, 134);
    }
    select {
        padding: 0% !important;
        font-size: .9rem;
        background: rgb(234, 231, 201);
    }
    .form-heading {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        margin: 0%;
        color: rgba(0, 0, 0, 0.6)
    }
    .form-button {
        background: rgb(83, 93, 62) !important;
        padding: .8% 2% !important;
        font-size: .9rem;
        color: rgb(213, 213, 213);
    }
    input {
        padding: 0% !important;
        margin: 0%;
        background: rgb(234, 231, 201);
        color: black;
    }
    .inline-inputs {
        display: flex;
        width: 100%;
    }
    #checkbox-label{
        margin: 0%;
        padding: 0%;
    }
    #billing-shipping-same-checkbox {
        margin: 0%;
        padding: 0%;
        width: 10%;
    }
    input::placeholder {
        color: rgb(84, 90, 65);
    }
    label {
        font-size: .8rem;
        margin: 0%;
    }
    .file-upload-input::file-selector-button {
        background-color: rgb(172, 174, 139);
        border: solid 1px rgb(136, 155, 94);
    }


    @media (max-width: 1200px) {
            .form-heading {
            font-size: .85rem;
        }
        .form-container form {
            width: 32%;
        }
    }
    @media (max-width: 900px) {
        .form-heading {
            font-size: .85rem;
        }
        .form-container form {
            width: 45%;
        }
    }
    @media (max-width: 600px) {
        .form-heading {
        font-size: 1rem;
    }
    .form-container form {
        width: 70%;
    }
    }
</style>
<div id="root-container">
    <p id="title">Artist Dashboard</p>
    <div id="column-container">
        <div id="left-side-bar">
            {% if pending_artwork_count > 0 %}
                <p id="pending-heading">Pending Artworks</p>
                <p id="pending-text">Please complete details to add artwork to shop.</p>
            {% endif %}
            {% for a in pending_details_artworks_dict %}
            <div class="pending-artwork-card" id="pending-artwork-card" onclick="openPendingArtworkEdit({{pending_details_artworks_dict[a]['uuid']}})">
                <img src="{{pending_details_artworks_dict[a]['main_photo_path']}}">
                <p class="pending-artwork-title">{{a}}</p>
                <p class="pending-artwork-category-text">Category: {{pending_details_artworks_dict[a]['category']}}</p>
            </div>
            {% endfor %}
        </div>
        <div id="main-area">
            <div id="form-container">
                <form id="upload-artwork-form" action="{{url_for('artist_dashboard_operations.upload_artwork')}}" method="post" enctype="multipart/form-data">
                    <p class="form-heading">Upload Artwork</p>
                    <label>Upload artwork image</label>
                    <input type="file" name="artwork-file" class="file-upload-input" accept=".jpg, .jpeg, .png, image/jpeg, image/png" required>
                    <input type="text" name="title" placeholder="Title of the artwork" required>
                    <input type="hidden" name="form-name" value="upload-artwork">
                    <select name="category" required>
                        <option value="">Choose category</option>
                        <option value="print">Print</option>
                        <option value="original">Original</option>
                        <option value="recreation">Recreation</option>
                    </select>
                    <button type="submit" id="add_artwork_submit-btn" name="submit_upload_artwork" value="upload_artwork" class="btn btn-primary btn-block btn-large form-button">Uplaod artwork</button>
                </form>
                
            </div>
        </div>
        <div id="right-side-bar">
            <div id="right-side-bar-container">
                <form id="my_form" action="{{url_for('account.artist_dashboard')}}" method="post">
                    <p class="form-heading">Create Invoice/Recipt</p>
                    <select name="document" id="document">
                        <option value="">Choose Document Type</option>
                        <option value="invoice">Invoice</option>
                        <option value="receipt">Receipt</option>
                    </select>
                    <input id="rec_inv_no" type="text" name="receipt_invoice_no" placeholder="Receipt against Invoice No">
                    <input type="text" name="name" placeholder="Customer's name" required>
                    <input type="text" name="billing_address" placeholder="Customer's billing address" required>
                    <input type="text" name="billing_state" placeholder="billing State" required>
                    <input type="text" name="billing_country" placeholder="billing Country" required>
                    <input type="text" name="billing_pincode" placeholder="billing Pincode" required>
                    <div class="inline-inputs">
                        <label id="checkbox-label">Shipping billing same</label>
                        <input type="checkbox" name="same_billing_shipping" id="billing-shipping-same-checkbox" onchange="hideShippingInputs()">
                    </div>
                    <input id="shipping-address" type="text" name="shipping_address" placeholder="Customer's shipping address">
                    <input id="shipping-state" type="text" name="shipping_state" placeholder="shipping State">
                    <input id="shipping-country" type="text" name="shipping_country" placeholder="shipping Country">
                    <input id="shipping-pincode"  type="text" name="shipping_pincode" placeholder="shipping Pincode">
                    <input type="text" name="phone" placeholder="Customer's phone" required>
                    <input type="text" name="email" placeholder="Customer's email">
                    <input type="number" name="item_count" id="item_count" placeholder="Total Items" required onchange="showItemInputs()">
                    <input type="text" name="tax_percentage" placeholder="Tax percentage">
                    <input type="date" name="date" placeholder="Date">
                    <select id="payment_type" name="payment_type">
                        <option value="">Select Payment type</option>
                        <option value="full">Full</option>
                        <option value="partial">Partial</option>
                    </select>
                    <input id="partial_payment_amt" type="text" name="partial_payment_amount" placeholder="Partial Payment Amount Paid">
                    <button type="submit" id="submit-btn" name="submit" value="create_document" class="btn btn-primary btn-block btn-large form-button">Create Document</button>
                </form>
                <form action="{{url_for('account.artist_dashboard')}}" method="post" enctype="multipart/form-data">
                    <p class="form-heading">Create COA</p>
                    <label>Artwork Image</label>
                    <input type="file" name="artwork-img" accept="image/*" class="file-upload-input">
                    <input type="text" name="serial_no" placeholder="Serial No" required>
                    <input type="text" name="title" placeholder="title" required>
                    <input type="text" name="size" placeholder="size" required>
                    <input type="text" name="medium" placeholder="medium" required>
                    <input type="text" name="year" placeholder="year" required>
                    <input type="text" name="client_name" placeholder="Client name" required>
                    <input type="email" name="client_email" placeholder="Client Email (optional)">
                    <select name="varnished">
                        <option value="">Varnished?</option>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>
                    <select name="signed">
                        <option value="">Signed?</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                    <select name="statement">
                        <option value="">Statement?</option>
                        <option value="unique">Unique</option>
                        <option value="print">Print</option>
                        <option value="self-copy">Self Copy</option>
                    </select>
                    <select name="copyright">
                        <option value="">Copyright Type</option>
                        <option value="allow-none">Allow None</option>
                        <option value="allow-reproduction">Allow Reproduction</option>
                        <option value="allow-reproduction-commercial">Allow Reproduction and Commercial</option>
                    </select>
                    <button type="submit" name="submit" value="create-coa" class="btn btn-primary btn-block btn-large form-button">Create COA</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
// ------------------------------------------ PENDING ARTWORK CLICK -------------------------------------------
function openPendingArtworkEdit(artwork_uuid) {
    const artworkUuid = artwork_uuid;
    const endpointUrl = "{{url_for('artist_dashboard_operations.pending_artwork_details_edit')}}";

    fetch(endpointUrl, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(artworkUuid)
    })
    .then(response => response.json())
    .then(data => {
        if (data.redirect_url) {
            window.location.href = data.redirect_url;
        }
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}
// ------------------------------------------- FORM POST ADD ARTWORK ------------------------------------------
const addArtworkEndpointUrl = "{{ url_for('artist_dashboard_operations.upload_artwork') }}";
document.getElementById("upload-artwork-form").addEventListener('submit', async function(event) {
    event.preventDefault();
    
    const addArtworkSubmitBtn = document.getElementById("add_artwork_submit-btn");

    addArtworkSubmitBtn.ariaDisabled = true;
    addArtworkSubmitBtn.innerText = 'Sending...';

    const addArtworkFormData = new FormData(this);

    try {
        const response = await fetch(addArtworkEndpointUrl, {
            method: 'POST',
            body: addArtworkFormData
        });
        if (response.ok) {
            const result = await response.json();
            alert('New artwork uploaded successfully!');
            this.reset();
        } else {
            alert('Server error: ' + response.statusText);
        }
    } catch (error) {
        alert('Network error: Could not reach the server.');
        console.error(error);
    } finally {
        addArtworkSubmitBtn.ariaDisabled = false;
        addArtworkSubmitBtn.innerText = 'Upload artwork';
    }
});

// --------------------------------------------- Invoice/Receipt --------------------------------------------------
    const documentType = document.getElementById('document');
    const paymentType = document.getElementById('payment_type');
    const partialPaymentAmount = document.getElementById('partial_payment_amt');
    const receiptInvoiceNo = document.getElementById('rec_inv_no');
    const itemCount = document.getElementById('item_count');
    const myForm = document.getElementById('my_form');
    const submitBtn = document.getElementById('submit-btn');
    

    function hideShippingInputs() {
        const billingShippingSameCheckbox = document.getElementById('billing-shipping-same-checkbox');
        const shippingAddress = document.getElementById('shipping-address');
        const shippingState = document.getElementById('shipping-state');
        const shippingCountry = document.getElementById('shipping-country');
        const shippingPincode = document.getElementById('shipping-pincode');
        if (billingShippingSameCheckbox.checked) {
            shippingAddress.style.display = 'none';
            shippingState.style.display = 'none';
            shippingCountry.style.display = 'none';
            shippingPincode.style.display = 'none';
        } else {
            shippingAddress.style.display = 'block';
            shippingState.style.display = 'block';
            shippingCountry.style.display = 'block';
            shippingPincode.style.display = 'block';
        }
    }

    function hideInputs() {
        paymentType.style.display = "none";
        partialPaymentAmount.style.display = "none";
        receiptInvoiceNo.style.display = "none";
    }
    hideInputs();

    // Generates a customized range array
    const range = (start, end, step = 1) => 
    Array.from({ length: Math.ceil((end - start) / step) }, (_, i) => start + i * step);

    
    documentType.addEventListener('change', (event) => {
        const documentValue = event.target.value;
        if (documentValue == 'invoice') {
            paymentType.style.display = "none";
            receiptInvoiceNo.style.display = "none";
        partialPaymentAmount.style.display = "none";
        } else if (documentValue == 'receipt') {
            paymentType.style.display = "block";
            receiptInvoiceNo.style.display = "block";
        }
    });
    paymentType.addEventListener('change', (event) => {
        const paymentTypeValue = event.target.value;
        if (paymentTypeValue == 'full') {
            partialPaymentAmount.style.display = "none";
        } else {
            partialPaymentAmount.style.display = "block";
        }
    });
    function showItemInputs() {
        const itemCountValue = itemCount.value;
        const itemElements = document.querySelectorAll('.item');

        itemElements.forEach(element => {
            element.style.display = "none";
        });

        for (const num of range(0, itemCountValue, 1)) {
            const newInput = document.createElement('input');
            const newItemPrice = document.createElement('input');
            const newItemQty = document.createElement('input');
            const itemNo = num+1;
            newInput.type = 'text';
            newInput.name = 'item'+itemNo;
            newInput.classList.add("item");
            newInput.placeholder = 'Item '+itemNo;
            myForm.appendChild(newInput);

            newItemPrice.type = 'number';
            newItemPrice.name = 'item'+itemNo+'price';
            newItemPrice.classList.add("item");
            newItemPrice.placeholder = 'Item '+itemNo+' Price';
            myForm.appendChild(newItemPrice);

            newItemQty.type = 'number';
            newItemQty.name = 'item'+itemNo+'qty';
            newItemQty.classList.add("item");
            newItemQty.placeholder = 'Item '+itemNo+' Quantity';
            myForm.appendChild(newItemQty);

            myForm.appendChild(submitBtn);
            }
    }
    
</script>


{% endblock %}