{% extends 'base.html' %}
{% block content %}
<div class="change-password-container">
    <form action="{{url_for('account.change_password')}}" name="change-password" onsubmit="return validateForm()" method="post">
        <h3 style="color: #c9c9c9;">Change Password</h3>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                  {% for category, message in messages %}
                    <div class="{{category}}">{{ message }}</div>
                  {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="password" placeholder="Old Password" name="old-pwd" required>
        <input type="password" placeholder="New Password" name="new-pwd" required>
        <input type="password" placeholder="Retype New Password" name="pwd-retyped" required>
        <input type="submit" class="btn btn-primary" value="Change Password">
    </form>
</div>

<script src="../static/js/my_account.js"></script>

{% endblock %}