{% extends "base.html" %}
{% block content %}
<div class="background">
  <div class="box">
    <h3 style="color: white;">Mail Verification</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p class="{{category}}">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('account.forgot_password') }}" method="post">
      <input type="text" name="email" placeholder="Enter your registered Email" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">
        GET RESET LINK
      </button>
    </form>
  </div>
</div>
{% endblock %}