{% extends "base.html" %}
{% block content %}
<div class="background">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p class="{{category}}">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('account.forgot_password') }}" method="post">
      <h2>Account Verification</h2>
      <input type="text" name="email_phone" placeholder="Enter your registered Email or Phone" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">
        GET RESET LINK
      </button>
    </form>
</div>
{% endblock %}