{% extends "base.html" %}
{% block content %}

<style>
#root-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form-container form {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.form-heading {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1200px) {
    .form-heading {
        font-size: 1.3rem;
    }
    .form-container form {
        width: 50%;
    }
}
@media (max-width: 900px) {
    .form-heading {
        font-size: 1.1rem;
    }
    .form-container form {
        width: 60%;
    }
}
@media (max-width: 600px) {
    .form-heading {
        font-size: 1rem;
    }
    .form-container form {
        width: 70%;
    }
}
</style>
<div id="root-container">
    <div class="form-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <p class="{{category}}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <p class="form-heading">DOWNLOAD ASSIGNMENT SUBMISSIONS</p>
        <form action="{{url_for('account.instructor_dashboard')}}" method="post">
            <select name="course_uuid" required>
                <option value="default">Choose Course/Workshop</option>
                {% for c in course_dict %}
                <option value="{{c}}">{{course_dict[c]['course_topic']}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary btn-block btn-large" type="submit" name="submit" value="download-assignments">Downlaod</button>
        </form>
    </div>

    <div class="form-container">
        <p class="form-heading">UPLOAD ASSESSED ASSIGNMENT VIDEO</p>
        <form action="{{url_for('account.instructor_dashboard')}}" method="post">
            <select name="course_uuid" required>
                <option value="default">Choose Course/Workshop</option>
                {% for c in course_dict %}
                <option value="{{c}}">{{course_dict[c]['course_topic']}}</option>
                {% endfor %}
            </select>
            <input type="text" name="vid-id" placeholder="Video Youtube ID" required>
            <input type="text" name="vid-caption" placeholder="Caption" required>
            <button class="btn btn-primary btn-block btn-large" type="submit" name="submit" value="upload-assessed-video">Upload</button>
        </form>
    </div>
</div>
{% endblock %}