{% extends "base.html" %}
{% block content %}

<style>
    #title {
        font-weight: 900;
        font-size: 1.2rem;
    }
#root-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background: rgb(164, 173, 155);
    width: 100%;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.form-container form {
    width: 22%;
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
    background: rgb(188, 192, 174);
    margin: .5%;
}
.form-container form button {
    background: rgb(149, 160, 134);
}
.form-heading {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: 0%;
    color: rgba(0, 0, 0, 0.6)
}
#assignment-count-display p {
    line-height: 1;
    padding: 1% 0% 1.5% 0%;
    margin: 0%;
}
.form-button {
    background: rgb(83, 93, 62) !important;
    padding: .8% 2% !important;
    font-size: .9rem;
    color: rgb(213, 213, 213);
}
select {
    padding: 0% !important;
    font-size: .9rem;
    background: rgb(234, 231, 201);
}
input {
    padding: 0% !important;
    margin: 0%;
    background: rgb(234, 231, 201)
}

@media (max-width: 1200px) {
    .form-heading {
        font-size: .85rem;
    }
    .form-container form {
        width: 32%;
    }
}
@media (max-width: 900px) {
    .form-heading {
        font-size: .85rem;
    }
    .form-container form {
        width: 45%;
    }
}
@media (max-width: 600px) {
    .form-heading {
        font-size: 1rem;
    }
    .form-container form {
        width: 70%;
    }
}
</style>
<div id="root-container">
        <p id="title">INSTRUCTOR DASHBOARD</p>

    <div class="form-container">
        <form id="assignment-count" action="{{url_for('account.instructor_dashboard')}}" method="post">
            <p class="form-heading">Assignments count</p>
            <select name="course_uuid" required>
                <option value="default">Choose Course/Workshop</option>
                {% for c in course_dict %}
                <option value="{{c}}">{{course_dict[c]['course_topic']}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary btn-block btn-large form-button" type="submit" name="submit" value="assignment_details">Get Details</button>
        </form>
        <form action="{{url_for('account.instructor_dashboard')}}" method="post">
            <p class="form-heading">Download Assignment Submission</p>
            <select name="course_uuid" required>
                <option value="default">Choose Course/Workshop</option>
                {% for c in course_dict %}
                <option value="{{c}}">{{course_dict[c]['course_topic']}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary btn-block btn-large form-button" type="submit" name="submit" value="download-assignments">Downlaod</button>
        </form>
        <form action="{{ url_for('account.instructor_dashboard') }}" method="post" enctype="multipart/form-data">
            <p class="form-heading">Course Operations</p>
            <!-- <p id="js-test">Test text</p> -->
            <select id="operation" name="operation">
                <option value="">Select Operation</option>
                <option value="add-course-video">Add Course video</option>
                <option value="add-course-notes">Add Course Notes</option>
                <option value="add-course-assignments">Add Course Assignments</option>
                <option value="add-course-demo">Add Course Demo</option>
                <option value="upload-assessed-video">Upload Assessed Assignment video</option>
                <option value="set-current-course-month">Set Currnet Course and Month</option>
                <option value="set-current-course-fee">Set Current Course Monthly Fee</option>
            </select>
            <select id="course" name="course-uuid">
                <option value="Default">Select Course/Workshop</option>
            </select>
            <select name="month" id="month_select">
                <option value="default">Choose Month</option>
            </select>
            <!-- ----------------------------------------- ADD COURSE VIDEO ------------------------------------------ -->
            <input id="lesson-title" name="lesson-title" placeholder="Video Title" type="text">
            <input id="lesson-url" name="lesson-url" placeholder="Video Youtube URL" type="text">
            <input id="lesson-detail" name="lesson-detail" placeholder="Video detail" type="text">
            <!-- ---------------------------------------- ADD COURSE NOTES ------------------------------------------- -->
            <input id="notes-files" type="file" name="file" multiple>
            <!-- ------------------------------------------ ADD COURSE ASSIGNMENTS ----------------------------------- -->
            <input id="assignment-files" type="file" name="assignments" multiple>
            <!-- ------------------------------------------- ADD COURSE DEMO ------------------------------------------ -->
            <input id="demo-title" name="demo-title" placeholder="Demo video Title" type="text">
            <input id="demo-url" name="demo-url" placeholder="Demo video Youtube URL" type="text">
            <!-- ----------------------------------- UPLOAD ASSESSED ASSIGNMENT VIDEO --------------------------------- -->
            <input id="assessed-vid-id" type="text" name="assessed-vid-id" placeholder="Video Youtube ID">
            <input id="assessed-vid-caption" type="text" name="assessed-vid-caption" placeholder="Caption">
            <!-- --------------------------------------- SET CURRENT COURSE FEE --------------------------------------- -->
            <input type="number" name="fee" id="fee" placeholder="Monthly fee">
            <!-- --------------------------------------------------------------------------------------------- -->
            <button type="submit" id="submit-btn" name="submit" class="btn btn-primary btn-block btn-large form-button" value="">NONE</button>
        </form>
        <form action="{{ url_for('account.instructor_dashboard')}}" method="post">
            <p class="form-heading">Show Next Month enrolment Alert</p>
            <input type="hidden" name="current-status" value="{{next_month_enrolment_alert_status}}">
            {% if next_month_enrolment_alert_status == 'on' %}
            <button type="submit" name="submit" value="enrolment-alert" class="btn btn-primary btn-block btn-large form-button">Turn Alert off</button>
            {% else %}
            <button type="submit" name="submit" value="enrolment-alert" class="btn btn-primary btn-block btn-large form-button">Turn Alert On</button>
            {% endif %}
        </form>
        <form action="{{ url_for('account.instructor_dashboard')}}" method="post">
            <p class="form-heading">Add Course Months/Parts</p>
            <select name="course-uuid">
                <option value="default">Select Course</option>
                {% for uuid in course_dict %}
                <option value="{{uuid}}">{{course_dict[uuid]['course_topic']}}</option>
                {% endfor %}
            </select>
            <input type="number" name="month-count" placeholder="Total months" required>
            <button type="submit" name="submit" value="workshop-month" class="btn btn-primary btn-block btn-large form-button">Add Months</button>
        </form>
        <form action="{{ url_for('account.instructor_dashboard')}}" method="post">
            <p class="form-heading">Add New Course</p>
            <input name="topic" placeholder="Topic" type="text" required>
            <select name="category">
                <option value="default">Choose Category</option>
                <option value="course">Course</option>
                <option value="qa">Question-Answer</option>
            </select>
            <button type="submit" name="submit" value="new-course" class="btn btn-primary btn-block btn-large form-button">Add New Course</button>
        </form>
    </div>
    
    <div class="form-container" >
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <p class="{{category}}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
    </div>
    <div class="form-container">
        
        
    </div>
    <div class="form-container" style="background: rgb(164, 173, 155);">
        
        
    </div>
</div>

<script>
    const courseDict = {{ course_dict | tojson }};
    const selectElement = document.getElementById('course');
    const month = document.getElementById('month_select');
    const operation = document.getElementById('operation');

    const lessonTitle = document.getElementById('lesson-title');
    const lessonUrl = document.getElementById('lesson-url');
    const lessonDetail = document.getElementById('lesson-detail');
    const notesFiles = document.getElementById('notes-files');
    const assignmentFiles = document.getElementById('assignment-files');
    const demoTitle = document.getElementById('demo-title');
    const demoUrl = document.getElementById('demo-url');
    const assessedVidId = document.getElementById('assessed-vid-id');
    const assessedVidCaption = document.getElementById('assessed-vid-caption');
    const fee = document.getElementById('fee');
    const submitBtn = document.getElementById('submit-btn');

    function hideInputs(){
        lessonTitle.style.display = "none";
        lessonUrl.style.display = "none";
        lessonDetail.style.display = "none";
        notesFiles.style.display = "none";
        assignmentFiles.style.display = "none";
        demoTitle.style.display = "none";
        demoUrl.style.display = "none";
        assessedVidId.style.display = "none";
        assessedVidCaption.style.display = "none";
        fee.style.display = "none";
    }
    hideInputs();

    operation.addEventListener('change', (event) => {
        const operationValue = event.target.value;
        if (operationValue == "add-course-video") {
            hideInputs();
            lessonTitle.style.display = "block";
            lessonUrl.style.display = "block";
            lessonDetail.style.display = "block";
            submitBtn.textContent = "Add Course Recording Video";
            submitBtn.value = "add-course-video";
        } else if (operationValue == "add-course-notes") {
            hideInputs();
            notesFiles.style.display = "block";
            submitBtn.textContent = "Add Course Notes";
            submitBtn.value = "add-course-notes";
        } else if (operationValue == "add-course-assignments") {
            hideInputs();
            assignmentFiles.style.display = "block";
            submitBtn.textContent = "Add Course assignments";
            submitBtn.value = "add-course-assignments";
        } else if (operationValue == "add-course-demo") {
            hideInputs();
            demoTitle.style.display = "block";
            demoUrl.style.display = "block";
            submitBtn.textContent = "Add Course Demo Video";
            submitBtn.value = "add-course-demo";
        } else if (operationValue == "upload-assessed-video") {
            hideInputs();
            assessedVidId.style.display = "block";
            assessedVidCaption.style.display = "block";
            submitBtn.textContent = "Upload Assessed Assignment Video";
            submitBtn.value = "add-assessed-video";
        } else if (operationValue == "set-current-course-month") {
            hideInputs();
            submitBtn.textContent = "Set Current Course and Month";
            submitBtn.value = "set-current-course-month";
        } else if (operationValue == "set-current-course-fee") {
            hideInputs();
            fee.style.display = "block";
            submitBtn.textContent = "Set Current Course Monthly Fee";
            submitBtn.value = "set-monthly-fee";
        }
    });

    Object.keys(courseDict).forEach(key => {
        var option = document.createElement('option');
        option.value = key;
        option.textContent = courseDict[key]['course_topic'];
        selectElement.appendChild(option);
    });

    selectElement.addEventListener('change', (event) => {
        const selectedValue = event.target.value;
        const monthList = courseDict[selectedValue]['months'];
        month.replaceChildren();
        monthList.forEach((item) => {
            var option = document.createElement('option');
            option.value = item;
            option.textContent = item;
            month.appendChild(option);
        });
    });
</script>
{% endblock %}