{% extends "base.html" %}
{% block content %}
<style>
    .dashboard-btn-container {
        display:flex;
        justify-content:center;
        padding-bottom: 2%;
        margin: 0%;
        cursor:pointer;
        flex-wrap:wrap;
    }
    .dashboard-btn {
        background:#509918;
        color:white;
        padding:1% 5%;
        margin: 1% 1%;
        border-radius:2rem;
        text-decoration: none;
        transition: transform 0.2s ease-in-out;
    }
    .dashboard-btn:hover {
        text-decoration:none;
        color:white;
        transform:scale(0.9);
    }

    #detail-section {
        display: flex; 
        flex-direction: column; 
        width: 60%;
        border: solid 1px black;
    }
    #detail-section p {
        padding: 0% 2%;
    }
    #detail-section p span {
        font-weight: bold;
    }
    .detail-section-heading {
        text-align: center; 
        background: rgb(113, 164, 106); 
        color: white; 
        padding: 1% 0% !important;
    }
    
    #button-section {
        display: flex;
        flex-direction: column;
        width: 40%;
        border: solid 1px black;
        border-left: 0px;
        padding-top: 3%;
    }
    #button-section a {
        color: white;
        background: rgb(94, 133, 69);
        border-radius: 5rem;
        padding: 3%;
        margin: 3% 5% 3% 5%;
        font-size: .6rem;
        line-height: 1;
        text-decoration: none;
    }
    #button-section a:hover {
        background: rgb(137, 147, 51)
    }
    #dashboard-section {
        background: rgb(49, 56, 40);
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 10%;
        padding: 10% 2% 2% 2%;
    }
    #dashboard-section a {
        color: black;
        text-decoration: none;
        background: white;
    }
    #dashboard-section a:hover {
        text-decoration: none;
        background: white;
    }
    /* -------------------------------------------------------------- RESPONSIVE ----------------------------------------------------------------------- */

    @media (min-width: 768px) {
        #button-section a {
            font-size: .8rem;
            margin: 3% 15% 3% 15%;
        }
    }
    @media (min-width: 1200px) {
        #button-section a {
            font-size: .9rem;
            margin: 3% 22%;
        }
    }
    @media (min-width: 1920px) {
        #button-section a {
            font-size: 1rem;
            padding: 2.2%;
            margin: 3% 25%;
        }
    }


</style>
<!---------------------------------------------------------------------------------------------------------------------------------->
<div style="display: flex; flex-direction: column; padding: 2% 5%; width: 100%;">
    <p>Dear <span style="color: rgb(29, 147, 8); font-weight: bold;">{{current_user.name.split(' ')[0]}}</span>, Welcome to Account management.</p>
    <div style="display: flex;">
        <div id="detail-section">
            <p class="detail-section-heading">Personal Details</p>
            <p>Name:  <span>{{current_user.name}}</span></p>
            <p>Email:  <span>{{current_user.email}}</span></p>
            <p>Phone:  <span>{{current_user.phone}}</span></p>
            <p>Whatsapp:  <span>{{current_user.whatsapp}}</span></p>
            <p>Profession:  <span>{{current_user.profession}}</span></p>
            <p>Sex:  <span>{{current_user.sex}}</span></p>
            <p>State:  <span>{{current_user.state}}</span></p>
            <p>Date of Birth:  <span>{{current_user.dob}}</span></p>
            <p>Registration Date:  <span>{{current_user.registration_date}}</span></p>
            <p class="detail-section-heading">Social</p>
            <p>Facebook:  <span>{{current_user.fb_url}}</span></p>
            <p>Instagram:  <span>{{current_user.insta_url}}</span></p>
            <p>X (Twitter):  <span>{{current_user.x}}</span></p>
            <p>Website:  <span>{{current_user.website}}</span></p>
        </div>
        <div id="button-section">
            <a href="{{url_for('account.edit_account_info')}}">Edit Info</a>
            <a href="{{url_for('account.change_password')}}">Change Password</a>
            <a href="{{url_for('account.support')}}">Support</a>
            <div id="dashboard-section">
                {% if 'student' in roles %}
                <a href="{{url_for('account.student_dashboard')}}">Student Dashboard</a>
                {% endif %}
                {% if role_count > 1 %}
                <a href="{{url_for('account.main_dashboard')}}">Main Dashboard</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}