{% extends "base.html" %}
{% block content %}
<div class="background">
    <form action="{{ url_for('account.forgot_password') }}" name="set-password" onsubmit="return validateForm2()" method="post">
      <h2>Set New Password</h2>
      <input type="password" minlength="5" name="password" placeholder="Enter New Password" required="required" />
      <input
        type="password"
        name="reenter-password"
        placeholder="Re-enter new password"
        required="required"
      />
      <input type="hidden" value="{{email}}" name="mail">
      <button type="submit" name="submit" value="set-password" class="btn btn-primary btn-block btn-large">
        SET PASSWORD
      </button>
    </form>
</div>
<script src="static/js/my_account.js"></script>
{% endblock %}