{% extends "base.html" %}
{% block content %}

<style>
    .container-full-width {
        display:flex;
        width: 100%;
        height: 80vh;
        overflow:auto;
        background: rgb(176, 190, 163);
    }
    .child-20-left {
        display:flex;
        flex-direction:column;
        width:20%;
        background:#9fb68b;
        border:solid 1px black;
        overflow:auto;
        padding: 0% 1%;
    }
    .child-20-right {
        display:flex;
        flex-direction:column;
        width:20%;
        background:#819161;
        border:solid 1px black;
        overflow:auto;
        align-items:center;
        padding:5% 0%;
    }
    .child-60 {
        display: flex;
        flex-wrap:wrap;
        overflow: auto;
        width:60%;
        justify-content:center;
        align-items: center;
    }
    .card {
        display:flex;
        justify-content:center;
        align-items:center;
        width:300px;
        height: 200px;
        color: rgb(228, 233, 202);
        margin:2%;
        transition: transform 0.2s ease-in-out;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    }
    .card:hover {
        color: white;
        text-decoration:none;
        transform: scale(0.9);
    }
    .card-text {
        text-decoration: none;
        text-align: center;
        font-size: 2rem;
    }
    .news {
        line-height: 1;
        text-align: left;
        text-decoration: none;
        color: black;
    }

    .dashboard-operation-btn {
        background:white;
        text-decoration:none;
        color: #34751B;
        font-weight: bold;
        margin: 1% 0%;
        padding: 3% 0%;
        width:70%;
        line-height:1;
        border-radius: 1rem;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
    }
    .dashboard-operation-btn:hover {
        text-decoration: none;
        color: #34751B;
        transform: scale(0.9);
    }
    #school-news {
        display: flex;
        flex-direction: column;
        background:#dfe8d6;
        height:60%;
        overflow: auto;
    }
    #common-news {
        background:#dfe8d6;
        height:30%;
        overflow: auto;
    }
    .news-section-heading {
        background: #5e5d28;
        color: white;
        padding: 1% 2%;
        margin-bottom: 0%;
    }
    .dashboard-operation-btn {
        font-size: 1rem;
        background: rgb(221, 224, 182);
    }

    @media screen and (max-width: 1200px) {
        .container-full-width {
            flex-direction: column;
            height: auto;
        }
        .child-20-left {
            width: 100%;
            max-height: 40vh;
        }
        .child-60 {
            width: 100%;
            padding: 2% 0%;
        }
        .child-20-right {
            width: 100%;
            padding: 1% 20%;
        }
        #school-news {
            padding-right: 5%;
        }
        #common-news {
            padding-right: 5%;
        }
        .card {
            width: 240px;
            height: 160px;
            padding: 5%;
        }
        .card-text {
            font-size: 1.2rem;
        }
    }
    @media screen and (max-width: 600px) {
        .child-60 {
            padding: 7% 0%;
        }
        .card {
            width: 120px;
            height: 80px;
            padding: 5%;
        }
        .card-text {
            font-size: .8rem;
        }
        #school-news {
            font-size: .85rem;
        }
        #common-news {
            font-size: .85rem;
        }
        .dashboard-operation-btn {
            font-size: .9rem;
            margin: 2% 0%;
        }
        .child-20-right {
            padding: 5% 5%;
        }
    }
</style>

<div class="title" style="background:#45563c; color:white; padding: 1% 0%;">
    <h1>STUDENT DASHBOARD</h1>
</div>
<div class="container-full-width">
    <div class="child-20-left">
        <p class="section-heading" style="background:#509918; color:white; padding: 0%; margin-top:1%;">NEWS</p>
        <p class="news-section-heading">School News</p>
        <div id="school-news">
            <ul>
            {% for n in school_news_dict %}
            <li><a class="news" href="{{ school_news_dict[n]['news_link'] }}">
                {{ school_news_dict[n]['news_text'] }} <span style="color:blue;">view</span> <span style="opacity:.5;">- {{ school_news_dict[n]['news_date'] }}</span>
            </a></li>
            {% endfor %}
            </ul>
        </div>
        <p class="news-section-heading">Common News</p>
        <div id="common-news">
            <ul>
            {% for n in common_news_dict %}
            <li><a class="news" href="{{ common_news_dict[n]['news_link'] }}">
                {{ common_news_dict[n]['news_text'] }} <span style="color:blue;">view</span> <span style="opacity:.5;">- {{ common_news_dict[n]['news_date'] }}</span>
            </a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="child-60">
        <a class="card" style="background: rgb(61, 138, 64);" href="{{ url_for('school.classroom') }}">
            <p class="card-text">CLASSROOM</p>
        </a>
        <a class="card" style="background: rgb(64, 117, 65);" href="{{ url_for('school.home') }}">
            <p class="card-text">UPCOMING COURSE INFO</p>
        </a>
    </div>
    <div class="child-20-right">
        <a class="dashboard-operation-btn" href="{{ url_for('account.home') }}">Account Details</a>
        <a class="dashboard-operation-btn" href="{{ url_for('account.contact_instructor') }}">Contact Instructor</a>
        <a class="dashboard-operation-btn" href="{{ url_for('school.certificate_download') }}">Certificates</a>
        <hr>
        {% if multiple_roles %}
        <a class="dashboard-operation-btn" href="{{ url_for('account.main_dashboard') }}">Main Dashboard</a>
        {% endif %}
        {% if artist in current_user.role %}
        <a class="dashboard-operation-btn" href="{{url_for('account.artist_dashboard')}}">Artist Dashboard</a>
        {% endif %}
        {% if instructor in current_user.role %}
        <a class="dashboard-operation-btn" href="{{url_for('account.instructor_dashboard')}}">Instructor Dashboard</a>
        {% endif %}
    </div>
</div>

{% endblock %}