{% extends "base.html" %}
{% block content %}

<style>
    #form-container {
        display:flex;
        justify-content: center;
        align-items:center;
        height: 90vh;
        background-image: linear-gradient(45deg, #54D69A, #79D654);
    }
    #instructor-contact {
        display:flex;
        flex-direction:column;
        width: 60%;
    }
    form textarea {
        width:100%;
    }
    form button {
        border: none;
        background:#083011;
        color:white;
        padding:.5% 0%;
    }
    form button:hover {
        background:#37731F;
    }
    label {
        line-height: 1;
    }

    @media (max-width: 768px) {
        #instructor-contact {
            width:80%;
        }
        h1 {
            font-weight:bold;
            font-size: 1.3rem;
            opacity:.8;
        }
        label {
            font-size: .9rem;
        }
        button {
            font-size:.9rem;
        }
    }
</style>
<div id="form-container">
    <form id="instructor-contact" action="{{ url_for('account.support') }}" method="post">
    <h1>Submit Ticket</h1>
        <input name="member_id" value="{{current_user.id}}" type="hidden">
        <input name="email" value="{{current_user.email}}" type="hidden">
        <select name="problem-category" required>
            <option value="default">Choose Problem category</option>
            {% for c in issue_category_list %}
            <option value="{{c}}">{{c}}</option>
            {% endfor %}
        </select>
        <label style="padding-top: 2%;">Please describe your issue here</label>
        <textarea name="message" rows="4" required> </textarea>
        <button type="submit" name="submit" value="create-ticket">CREATE A TICKET</button>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                  <div class="{{category}}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
</div>
{% endblock %}