{% extends "base.html" %}
{% block content %}

<div id="classroom-hero">
    <div id="title">
        <h1 style="text-align: center">WORKSHOP RECORDED SESSIONS</h1>
        <p style="color: gray">Revisions and Practice make an artist perfect. Therefore, welcome to your classroom! Take Notes, Draw at least more than 5 rough drawings/sketches every day. Keep showing your work</p>
    </div>
</div>

<div class="video-wrapper">
    <div class="video-wrapper-container">
        {% for n in range(qa_video_count) %}
            <div class="video">
                <div class="content">
                    <lite-youtube videoid="{{ vid_id_list[n] }}"
                                  params="controls=1"></lite-youtube>
                    <p>{{ qa_caption_list[n] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="video-wrapper">
    <div class="video-wrapper-container">
    {% if logged_in %}
        {% for n in range(video_count) %}
            <div class="video">
                <div class="content">
                    <lite-youtube videoid="{{ yt_vid_id_list[n] }}"
                                  params="controls=1"></lite-youtube>
                    <p>{{ vid_caption_list[n] }}</p>
                </div>
            </div>
        {% endfor %}
        {% if video_count == 0 %}
            <div class="course-btn">
                <p>To watch our Art workshop recorded videos on various creative topics you need to first join our workshops.</p>
                <a href="{{url_for('school.home')}}" class="btn btn-primary btn-block btn-large" role="button">OUR WORKSHOPS</a>
            </div>
        {% endif %}

    </div>
    {% else %}
        <div class="course-btn">
            <div class="text-button-center">
                <p>To watch our Art workshop recorded videos on various creative topics you need to first join our workshops.</p>
                <a href="{{url_for('school.home')}}" class="btn btn-primary btn-block btn-large button_medium" role="button">OUR WORKSHOPS</a>
            </div>
        </div>
    {% endif %}
</div>

<script src="../static/lite-yt-embed.js"></script>

{% endblock %}